/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  .container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
  }

  .myinfo {
    color: #888;
    font-size:15px;
  }