/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 820px;
    padding: 0 15px;
}