/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
:root {
    /* Original colors */
    --c-original-background: #fff;
    --c-original-text: #444;
    /* Articles */
    --c-selected-article-background: #EFF3F8;
    --c-selected-article-text: #171F2A;
    /* Bigger sections */
    --c-selected-bigger-section-background: #757575;
    --c-selected-bigger-section-text: #fff;
    /* Highlights */
    --c-highlight: #000;
    --c-highlight-background: #FFD1C2;
    --c-selected-highlight: #000;
    --c-selected-highlight-background: #FF6636;
    /* Other */
    --c-sidebar: #2E2E2E;
    --c-sidebar-header: #171717;
}

.jumbotron {
    background: #EFF3F8;
}

.indice {
    color: #FFF;
    background: #FF5722;
    border-color: #FF5722;
}

.indice:hover {
    background: #D1481C;
    border-color: #D1481C;
}

.buscar {
    color: white;
    border-color: #FF5722;
    background-color: #FF5722;
}

.buscar:hover {
    color: #fff;
    border-color: #FF5722;
    background-color: #D1481C;
}

indice body {
    font-family: 'Poppins', sans-serif;
    background: #fff;
    /*background: #fafafa;*/
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    font-weight: regular;
    line-height: 1.7em;
    color: #171F2A;
    /*color: #fff;*/
}

.uncolored_link,
.uncolored_link:hover,
.uncolored_link:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 80%;
    position: fixed;
    top: 0;
    left: -80%;
    height: 100vh;
    z-index: 999;
    background: var(--c-sidebar);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--c-sidebar);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: var(--c-sidebar);
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: var(--c-sidebar-header);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: var(--c-sidebar);
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: var(--c-sidebar);
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.resultinfo{
    color: #888;
    font-size: .9rem;
}

.resultinfo.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 143px;
    background: white;
    padding: .5rem 1.5rem;
    display: block!important;
}

.resultinfo-articles{
    font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    text-align: right;
    color: #70757a;
}

.resultinfo-article-count{
    font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 17px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: right;

    color: #1A7FFA;
}

.result-card-title{
    /* font-family: -apple-system, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #171F2A; */
}

.resultinfo-content {
    color: #666;
    font-size: 17px;
    margin-bottom: 0;
}

.primaryinfo {
    color: #666;
    font-size: 17px;
    text-align: right;
    margin-bottom: 0;
}


/* ---------------------------------------------------
    MODAL
----------------------------------------------------- */

.modal-dialog {
    padding: 0;
}

.modal-content {
    height: 60%;
    border: none;
}

.articles-result-info{
    margin-bottom: 10px;
}