/* Basics */

body {
    background-color: #EFF3F7;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

.btn {
    height: auto;
    border-radius: 4px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .25rem 1rem;
    transition: all .4s ease-in-out;
}

.btn-lg {
    font-size: 1.15rem;
    height: 3rem;
}

.btn-block {
    margin: auto;
}

.btn-more-laws {
    margin: 1rem auto;
}

h2 {
    font-weight: 600;
}

.content {
    line-height: 1.25rem;
    font-size: 1rem;
}

.img-fluid-vertical {
    height: 5vh;
    min-height: 170px;
    width: auto;
}

p.body {
    line-height: 1.2rem;
    margin-bottom: .75rem;
}

.container--home {
    min-height: calc(100vh - 400px)
}

.container--privacy,
.container--terms {
    margin: 1.5rem auto 1rem;
}

.container--visualizador {
    padding: 0;
    background-color: #FFF;
}

.navbar .btn-primary{
    background: #1A7FFA;
    border: 1px solid #1A7FFA;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 .75rem;
}

.navbar .btn-avatar{
    margin-right: 0;
}

.section-title {
    font-size: 2rem;
    margin: 1rem 0;
}

/* General styles for cards */

.card-with-border{
    border-style: solid !important;
    border-width: thin !important;
    border-color:#FF5722 !important;
    color: #171F2A !important;
}

.card-with-border h5{
    color: #171F2A !important;
    font-weight: bold !important;
}

.card--dark-100 {
    background-color: #F2F5F8;
    height: 100%;
}

.card--pricing {
    max-width: 1360px;
    margin: 0 auto;
}

.icon-drive {
    position: absolute;
    top: 1.5rem;
    right: 1rem; 
    width: 20px;
    height: auto;
}

/* General styles for forms */

.form-group label {
    font-weight: bold;
    color: #171F2A;
    margin-bottom: 4px;
    font-size: 1.12rem;
}

.form-group .form-check label {
    font-weight: 400;
    width: 100%;
}

.form-group .form-check input[type=checkbox]:checked~label,
.form-group .form-check input[type=radio]:checked~label {
    color: white;
}

.form-group .form-check label,
.form-group .form-check label {
    padding: .5em 1em .5em 2em;
    display: flex;
    cursor: pointer;
}

.form-group .row .form-group {
    margin-bottom: 0;
}

.form-control {
    background-color: #EFF3F8;
    height: 3rem;
    border-radius: 4px;
    border: none;
}

input.form-control:focus {
    color: #495057;
    background-color: #EFF3F8;
    box-shadow: 0 0 0 2px #A6B9D3;
}

.form-check {
    padding: 0;
}

.form-check-inline .form-check-input,
.form-check-input {
    position: absolute;
    opacity: 0;
}

.custom-form {
    position: relative;
    min-height: 2rem;
    margin-bottom: 1rem;
}

.custom-form:before {
    position: absolute;
    left: 10px;
    top: .85em;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background: white;
}

.custom-form--radio:before {
    border-radius: 10px;
}

.custom-form:after {
    position: absolute;
    left: 14px;
    top: 1.3em;
    content: "";
    height: 6px;
    width: 12px;
    transform: rotate(-45deg);
    border-left: 3px solid #171F2A;
    border-bottom: 3px solid #171F2A;
    display: none;
}

.custom-form.checked:after {
    display: block;
}

.custom-form label {
    background-color: #EFF3F7;
    border-radius: 4px;
    color: #171F2A;
    box-sizing: border-box;
    min-height: 2rem;
}

.custom-form input:focus+label,
.custom-form label:hover {
    box-shadow: 0 0 0 2px #A6B9D3;
}

.custom-form.checked label {
    background-color: #171F2A;
    color: white;
}

.btn-next {
    margin-top: 2rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}

.btn-avatar {
    background: linear-gradient(145deg, #1A7FFA 50%, #033FF5 50.1%);
    font-weight: bold;
}

.main-search {
    max-width: 640px;
    margin: 1rem auto;
}

.main-search .form-control {
    background-color: white;
}

.main-search .form-control:focus,
.main-search .form-control:active {
    background-color: white;
}

.navbar .main-search .btn-primary {
    margin: 0; 
    background-color: #FF5722;
    border-color: #FF5722;
}

.input-group-append {
    position: relative;
}

.input-group-append .close {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -40px;
    z-index: 3;
    width: 40px;
}

/* General styles for modal */

.modal-backdrop {
    background-color: white;
}

.modal-backdrop.show {
    opacity: 0.8;
}

.modal-body {
    box-shadow: 0 0 40px rgba(0, 0, 0, .12);
}

.modal-body .form-group {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767.98px) {
    .modal-body .form-group {
        flex-wrap: wrap;
    }
}


/* General styles for Onboarding */

.card--onboarding {
    border: none;
    margin: 2vh auto 1rem;
    max-width: 580px;
}

.card--onboarding .content {
    margin-bottom: 40px;
}

/* General styles for Cuenta */

.container--cuenta .card .card {
    padding-top: .5em;
    position: relative;
    margin: 20px auto;
}

.container--cuenta .card .card .card-body {
    padding: 1.5em;
    padding-top: 40px;
}

.card .close {
    padding: .25em;
    right: 14px;
    top: 14px;
    position: absolute;
    z-index: 2;
}

.other-profesion {
    margin-bottom: 30px;
}


/* General styles for nav items */

.nav-pills .nav-link {
    color: #505864;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
    color: #007bff;
}

.nav-pills .nav-link.active:hover,
.nav-pills .nav-link.active:focus {
    color: white;
}

.nav-pills .nav-link.highlighted,
.nav-pills .nav-link.highlighted {
    color: #007bff;
}


/* General styles for footer */

footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #A6B9D3;
    padding: 1em 15px;
    font-size: 14px;
}

footer p a {
    color: #505864;
}

.footer-basic p {
    color: #505864;
    margin-bottom: .5em;
}

.footer-basic .social {
    text-align: center;
}

.footer-basic .social>a {
    font-size: 16px;
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    background-color: #505864;
    color: white;
    margin-left: 10px;
    transition: all .4s ease-in-out;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    text-align: left;
    font-size: 13px;
    margin-bottom: 0;
}

@media only screen and (max-width: 767.98px) {
    footer .container {
        flex-direction: column;
        padding: 20px;
    }
    .footer-basic .social {
        text-align: left;
    }
    .footer-basic .social>a {
        margin-right: 10px;
        margin-left: 0;
    }
    .footer-basic .social {
        margin-top: 20px;
    }
}

/* Billboard */

.billboard {
    height: auto;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background: #EFF3F8;
    border-radius: 8px;
  }

  .billboard-content{
    text-align: center;
    line-height: 1.25rem;
  }

  .billboard-title{
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .billboard-text, .billboard-link{
    font-family: -apple-system, sans-serif;
    font-size: 1rem;
  }

  .billboard-body{
    padding-top: .5em;
    color: #505864;
    margin-bottom: 0.2em;
  }

  .billboard-link{
    color: #1A7FFA;
  }

  .billboard-link:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .billboard-btn-form{
    text-align: center;
  }

  .billboard-actions {
      display: flex;
      justify-content: space-around;
      padding-top: 1rem;
  }

  .billboard .btn {
    width: auto;
  }

  .billboard--home {
      background-color: #171F2A;
      color: white;
      padding: 2rem;
      margin-top: 2rem;
  }

  .billboard--home .billboard-body{
    color: white;
  }


/* General styles for Checkout */

.card--payment {
    margin-bottom: .75rem;
}

.card--payment .card-body {
    padding: 2.5rem 2rem 2rem;
}


/* General styles for Subscription info */

.card--subscription {
    padding: 0;
}

.card--subscription .card-heading {
    background-color: #171F2A;
    color: white;
    padding: 2.5rem 1.5rem 1.15rem; 
    border-radius: 4px 4px 0 0;
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.card--subscription .card-title {
    margin-bottom: .15rem;
}

.card--subscription .card-heading .full-width {
    width: 100%;
}

.subscription-row {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.25rem;
    color: #505864;
    padding-top: .85rem;
}

.subscription-row-total {
    padding-top: .5rem;
    font-size: 1.75rem;
    border-top: 1px solid #DFE7F1;
    color: #171F2A;
}

.subscription-row-total .subscription-row-value {
    color: #1A7FFA;
}

@media only screen and (max-width: 767.98px) {
    .card--subscription .card-body {
        padding: .25rem 1.5rem;
    }

    .card.card--subscription {
        border-bottom: 1px solid #DFE7F1;
    }

    .card--subscription .card-heading {
        padding: 1rem 1.5rem .25rem; 
        
    }
}

/* Footer */

.footer-basic {
    margin-top: 2rem;
}


/* Document */

.law-header-mobile {
    padding: 0 1.5rem;
}

.law-header-desktop {
    padding: 2rem 1rem 0 ;
}

.tabs--document {
    justify-content: space-between;
    padding: 0 25px;
}

.tabs--document .nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.tabs--document .nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .85rem;
}

.tabs--document .dropdown-menu {
    background: white;
}

.tabs--document .dropdown-menu a {
    display: flex;
    flex-direction: row;
    color: #171F2A;
    padding: 1rem;
}

.tabs--document a[aria-expanded="true"] {
    background: white;
    border-bottom: 4px solid #007bff;
}

.tabs--document .dropdown-menu i {
    margin-right: .5rem;
}

@media only screen and (min-width: 767.98px) {

    .tabs--document {
        display: flex;
        justify-content: space-between;
    }
    
    .tabs--document .menu-bar {
        display: inline-flex; 
        flex: 1;
    }
}

.article-p {
    font-family: 'Merriweather', serif;
    font-size: 1rem; 
    color: #171F2A;
    padding: .5rem 1.5rem;
    word-break: break-word;
}
.container--results {
    min-height: calc(100vh - 200px);
}

.container--empty-results {
    max-width: 640px;
    margin: 4rem auto; 
}

.container--empty-results p {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.no-result-message {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container--empty-results .no-result-message p {
    color: #495057; 
    font-size: 1.15rem;
}

@media only screen and (min-width: 767.98px) {
    .modal--document .modal-body {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .modal--document .btn {
        max-width: 210px;
        margin: 1rem auto;
    }
}

.no-result-message img {
    width: 310px;
    margin: 1rem;
}
/* Index */

.card-header {
    position: relative;
}

.title--libro {
    color: #171F2A;
    font-size: 1.4rem;
    font-weight: bold;
    display: block;
    width: max-content;
}

.btn-collapse {
    background-color: transparent;
    border: none;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1rem;
    top: 1rem;
    transition: all .4s;
    padding: .5rem;
}

.btn-collapse:hover {
    background-color: #A6B9D3;
}

.btn-collapse.opened {
    transform: rotate(180deg);
}


@media (min-width: 1200px) {

    .container--visualizador {
        display: flex;
        flex-direction: column;
        background-color: transparent;
    }

    .sidebar--relacionados {
        display: flex;
        flex-direction: column;
        width: 30%;
        max-width: 260px;
        top: -30px;
        position: relative;
    }

    .sidebar--relacionados h4{
        color: #A6B9D3;
        font-size: 1.1rem;
        margin-left: 1rem;
    }
    
    .inner-continer--visualizador {
        width: 100%;
        max-width: 810px; 
        padding: 1rem;
        background-color: #FFF;
    }
    .container--documento {
        display: flex;
        flex-direction: row;
        
    }
 }

 /* Sticky top -- tabs */

 .sticky-top--tabs {
     top: 64px;
     background: white;
     width: 100%;
     padding: 1rem 1rem 0;
     z-index: 1030;
 }
@media only screen and (max-width: 767.98px) {
    .container--empty-results {
        text-align:center; 
    }
    
    .no-result-message img {
       max-height: 90px;
    }

    .no-result-message {
        display: flex;
        flex-direction: column  ;
        align-items: center;
    }
}


/* Badges */

.badge-creation{
    display: inline-block;
    background: #F2F5F8;
    border: 1px solid rgba(166, 185, 211, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    color: #505864;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: .25em .4em;
}

.badge--materia{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    line-height: 13px;  
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: #505864;
    padding: 2px 8px;
    height: 17px;
    left: 16px;
    top: 22px;
    background: #F2F5F8;
}


.badge-creation{
    display: inline-block;
    background: #F2F5F8;
    border: 1px solid rgba(166, 185, 211, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    color: #505864;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    padding: .25em .4em;
}

.link-google-drive {    
    position: absolute;
    right: 1.5rem;
}

.container--home .card-title,
.container--results .card-title {
    padding-right: 20px;
}

/* Clear button style */

.clear--text{
    cursor: pointer;
    display: none;
}
.document-result-info{
    margin-top: 25px;
}


.is-invalid {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .25);
}