/* Basics */

.card--login {
    border: none;
    margin-bottom: 1rem;
}

.btn {
    height: 46px;
    border-radius: 8px;
}


/* General styles for forms */

.form-group label {
    font-weight: bold;
    color: #171F2A;
    margin-bottom: 4px;
    font-size: 1.12rem;
}

.form-control {
    background-color: #EFF3F8;
    height: 50px;
    border-radius: 8px;
    border: none;
}

input.form-control:focus {
    color: #495057;
    background-color: #EFF3F8;
    box-shadow: 0 0 0 2px #A6B9D3;
}