<table class="table table-sm"">
    <thead>
        <tr>
            <th class="table--headers" scope="col">Numero de gaceta</th>
            <th class="table--headers"scope="col">Fecha de publicación</th>
        </tr>
    </thead>
    <tbody>
    <% gazettes.each do |gazette| %>
        <tr>
            <td>
                <% if gazette.first %>
                    <%= link_to gazette.first, gazette_path(gazette.first) %>
                <% end %>
            </td>
            <td> 
                <% if gazette.second %>
                    <%= gazette.second.first.publication_date %>
                <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>
</table>

<style>
    tr:hover {background-color:#c8ced4;}
</style>