<table class="table table-sm"">
  <thead align="center">
    <tr>
      <th class="table--headers" scope="col">Numero de gaceta</th>
      <th class="table--headers"scope="col">Fecha de publicación</th>
      <th class="table--headers"scope="col">Contiene gaceta original</th>
      <th class="table--headers"scope="col">Fraccionada</th>
    </tr>
  </thead>
  <tbody align="center">
  <% gazettes.each do |gazette| %>
    <tr>
      <td>
        <% if gazette.publication_number %>
          <%= link_to gazette.publication_number, gazette_path(gazette.publication_number) %>
        <% end %>
      </td>
      <td>
        <% if gazette.date %>
          <%= gazette.date %>
        <% end %>
      </td>
      <td>
        <% if gazette.has_original %>
          <i class="fas fa-check"></i>
        <% end %>
      </td>
      <td>
        <% if gazette.is_sliced %>
          <i class="fas fa-check"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
  <td>
  </td>
  <td>
  </td>
  <td>
    <%= @gazettes_count %> gacetas ingresadas
  </td>
  <td>
    <%= @sliced_count %> fraccionadas
  </td>
</tr>
  </tbody>
</table>

<style>
  tr:hover {background-color:#c8ced4;}
</style>