<p>
<strong>Gacetas faltantes:</strong>
</p>
<p>
    <% @missing_gazettes.each do |missing_gazette| %>
        <%= missing_gazette %>,
    <% end %>  
</p>

<p>
<strong>Gacetas:</strong>
</p>

<form action="<%= gazettes_url %>" method="get">
  <div>
    <input name="query" value="<%= @query %>" type="text" placeholder="">
    <div>
      <button type="submit" type="button">Buscar</button>
    </div>
  </div>
</form>

<ul>
<% @gazettes.each do |gazette| %>
<li>
    <%= link_to gazette.first, gazette_path(gazette.first) %>
</li>
<% end %>
</ul>
<p>