<p>
<strong>Gacetas:</strong>
</p>
<ul>
<% @documents.each do |document| %>
<li>
  <%= document.name %>
  <%= link_to "Ediar", edit_document_path(document) %>
  <%= link_to "Ver", "https://valid.todolegal.app/documents/" + document.id.to_s %>
  <%= link_to 'Borrar', document, method: :delete, data: { confirm: 'Seguro?' } %>
</li>
<% end %>
</ul>
<p>