<h3>Subscripciones</h3>
<p>
<% @subscriptions.each do |subscription| %>
  <%= subscription.email %>, 
<% end %>
</p>
Total: <%= @subscriptions.count %>

<h3>Confirmadas</h3>
<p>
<% @confirmed_subscriptions.each do |confirmed_subscription| %>
  <%= confirmed_subscription.email %>, 
<% end %>
</p>

Total: <%= @confirmed_subscriptions.count %>