<p class="resultinfo">
  1 podcast
</p>

<div class="list-group">
  <div class="collapsable-specific-results-cards list-group-item col-sm-12" style="margin-bottom: 10px;">
    <a class="" href="<%= link %>" target="_blank">
    <p style="font-size: 15px">
        <span class="badge badge--materia">Ley Abierta</span>
    </p>
    <h5 class="result-card-title"><%= name %></h5>
    <p class="resultinfo-content"><%= summary %></p>
    <img class="icon-drive" src="/img/ley_abierta_logo.png"/>
    </a>
  </div>
</div>
<br>
<br>