<h1>Confirma tu correo</h1>

<p>Haz clic en el siguiente enlace para confirmar tu correo y recibir un descuento del 50% durante 6 meses.</p>
<p><%= @confirmation_link %></p>

<p>Si no te has suscrito a TodoLegal, ignora este correo.</p>

<%= image_tag attachments['subscription.png'].url %>