<h1>Confirma tu subscripción a Todo Legal</h1>

<p>Haz clic en el siguiente enlace para confirmar tu subscripción:</p>
<p>Link de confirmación: <%= @confirmation_link %></p>

<%= image_tag attachments['subscription.png'].url %>

<p>Si no te has suscrito a Todo Legal ignora este correo.</p>