<h1>Bienvenido a Todo Legal!</h1>

<p>TODO: texto de email</p>

<p>todolegal.app</p>

<%= image_tag attachments['confirmation.png'].url %>

<p>Si deseas anular tu subscripción has <a href="<%= @unsubscribe_link %>">click aquí</a>.</p>