<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Descuento</h1>

    <p>Hasta el 2 de febrero vas a poder usar nuestra plataforma de manera gratuita. A partir de ese día, TodoLegal tendrá un precio de suscripción mensual de L.400.</p>

    <p>Este correo te da acceso a un descuento del 50% durante 6 meses. Cualquier consulta nos puedes responder a este correo.</p>

    <%= image_tag attachments['confirmation.png'].url %>
  </body>
</html>