<p><%= @referrer_name %> te ha invitado a que uses TodoLegal.</p>

<p><a href="https://todolegal.app/">Ingresar a TodoLegal</a></p>

<p>TodoLegal es un buscador de información legal para Honduras. Te permite navegar entre leyes y realizar búsquedas de palabras claves en más de 150 documentos de legislación hondureña.</p>

<p>¡Bienvenidx y gracias!</p>