<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bienvenido(a) a TodoLegal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style="margin: 0; padding: 0; background-color: #F2F5F8;">
        <!-- Inicio del Header -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0px auto; border-spacing: 0px;">
            <tbody>
                <tr>
                    <td style="text-align: center;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: auto;">
                            <tr>
                                <td></td>
                                <td width="540">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                        <tr>
                                            <a class="back-image" data-toggle="modal" data-target="#cancelModalTodolegal">
                                                <img style="height: 15vh; max-height: 110px; margin: 2vh auto 0;" border="0" alt="Logo TodoLegal" src="https://todolegal.app/img/logo_landing_mobile.png"/>
                                            </a>
                                        </tr>
                                        <tr>
                                            <td style="background-color: #FFFFFF; text-align: left; padding: 40px;">
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    Hola <%= @user.first_name %>,
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                   Bienvenido(a) a TodoLegal. Nuestra compañía te ofrece una serie de herramientas de investigación y 
                                                   monitoreo legal que te ayudarán a entender de mejor manera el panorama regulatorio.
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    <ol style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; " type="1">
                                                        <li>
                                                            Si necesitas <strong>descargar</strong> documentos oficiales y recibir <strong>alertas personalizadas</strong> sobre los 
                                                            cambios regulatorios, ingresa aquí: <a href="https://valid.todolegal.app/">https://valid.todolegal.app</a>,
                                                        </li>
                                                        <li>
                                                            Para realizar <strong>búsquedas</strong> de palabras clave en las 
                                                            leyes más importantes de Honduras, ingresa aquí: <a href="https://todolegal.app/home">https://todolegal.app/home</a> y,
                                                        </li>
                                                        <li>
                                                            Para explorar temas legales a través de nuestro podcast y artículos de interés,
                                                            ingresa aquí: <a href="https://leyabierta.todolegal.app/">https://leyabierta.todolegal.app/</a>.
                                                        </li>
                                                    </ol>

                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">   
                                                    Tienes <strong>2 semanas</strong> gratuitas de prueba. Puedes <strong>suscribirte</strong> a uno de nuestros planes en este enlace: 
                                                    <a href="https://todolegal.app/pricing?return_to=https://valid.todolegal.app">https://todolegal.app/pricing</a>. Aquí un video sobre como utilizar las 
                                                    distintas herramientas: <a href="https://youtu.be/djL8LddjgIo">https://youtu.be/djL8LddjgIo</a>
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    Nos puedes contactar a nuestro WhatsApp aquí: <a href="https://wa.me/50494714842">https://wa.me/50494714842</a> o enviarnos un correo 
                                                    a info@todolegal.app.
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    ¡Saludos!
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    <i>&nbsp;&nbsp;-&nbsp;&nbsp;Equipo TodoLegal.</i>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="background-color: #FFFFFF; text-align: center;">
                                                
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-left: 40px; padding-bottom: 40px; padding-right: 40px;">
                                                    <tr>
                                                        <td style="padding-top:20px ; border-top: 1px solid #F2F5F8;">
                                                            <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                                Síguenos en nuestras redes
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <table border="0" width="160" style="margin: auto;">
                                                                <tr>
                                                                    <td style="text-align: center;">
                                                                        <a href="https://twitter.com/TodoLegal1" alt="Twitter" style="width: 40px; height: 40px;">
                                                                            <img src="https://todolegal.app/img/mails/twitter.png">
                                                                        </a>
                                                                    </td>
                                                                    <td style="text-align: center;">
                                                                        <a href="https://www.facebook.com/todolegaltech/" alt="Facebook" style="width: 40px; height: 40px;">
                                                                            <img src="https://todolegal.app/img/mails/facebook.png">
                                                                        </a>
                                                                    </td>
                                                                    <td style="text-align: center;">
                                                                        <a href="https://www.linkedin.com/company/todolegal" alt="Linkedin" style="width: 40px; height: 40px;">
                                                                            <img src="https://todolegal.app/img/mails/linkedin.png">
                                                                        </a>
                                                                    </td>
                                                                    <td style="text-align: center;">
                                                                        <a href="https://instagram.com/todolegal.app?igshid=1ibunfzqohm2g" alt="Instagram" style="width: 40px; height: 40px;">
                                                                            <img src="https://todolegal.app/img/mails/instagram.png">
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                        
                                                    </tr>
                                                </table>
                                                
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td style="background-color: #171F2A; text-align: center; padding: 40px;">
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#FFFFFF; font-size: 14px; ">
                                                    Este es un correo autogenerado y lo estás recibiendo porque creaste una cuenta en TodoLegal. Si no hiciste esta solicitud, envíanos un correo a <a href="mailto:info@todolegal.app" target="_blank" style="color: #A6B9D3; text-decoration: underline;">info@todolegal.app</a> o escribenos en el chat de <a href="https://todolegal.app" target="_blank" style="color: #A6B9D3; text-decoration: underline;">todolegal.app</a>.
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#FFFFFF; font-size: 14px;">
                                                    By TODOLEGAL LLC 2020-2023
                                                </p>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                    
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Fin del Header -->
    </body>

</html>
