<p>Hola <%= @user.first_name %> <%= @user.last_name %>.</p>

<p>Gracias por adquirir la suscripción Pro.</p>

<p>Con ella puedes acceder a toda la información disponible, que de momento son más de <%= (Law.count/10)*10 %> documentos legales de legislación hondureña y a todo lo nuevo que agreguemos.</p>

<p>Para ver tus facturas, cambiar tu tarjeta de crédito o cancelar el servicio, lo puedes hacer desde la sección: <a href="https://todolegal.app/users/edit">tu cuenta</a>.</p>

<p>Cualquier duda o consulta nos puedes escribir a info@todolegal.app o través del chat box que se encuentra en la aplicación web.</p>

<p>¡Gracias por adquirir nuestros servicios!</p>