<p class="body plan-description">
  Para abogados e investigadores.
</p>
<hr>
<ul class="fa-ul">
  <li>
     <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Más de <%= valid_gazettes_count %> gacetas disponibles y <%= valid_document_count %> documentos.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso para 1 cuenta.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    3 descargas gratuitas.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso a cada nueva Gaceta emitida.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Web App accesible desde cualquier dispositivo.
  </li>

</ul>
