<p class="body plan-description">
  Para equipos legales, empresas y organizaciones de todo tipo.
</p>
<hr>
<ul class="fa-ul">
  <li>
     <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Más de <%= valid_gazettes_count %> gacetas disponibles y <%= valid_document_count %> documentos.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso para 5 usuarios.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Recurso dedicado para soporte e implementación.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Descarga ilimitada de documentos.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso a cada nueva Gaceta emitida por la ENAG.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Web App accesible desde cualquier dispositivo.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Link-Gen para compartir la información con tu equipo.
  </li>
 
</ul>
