<div class="alert alert-primary alert-dismissible fade show alert-anniversary" role="alert">
  ¡Estamos cumpliendo 2 años 🎉🥳! Ingresa el código <strong>ANIVERSARIO</strong> antes de <a href="https://todolegal.app/pricing" class="link-to-price"><strong>realizar tu pago</strong></a> y obtén 70% de descuento por 12 meses en la suscripción pro.
   <p class="mt-2 alert-anniversary">Válido hasta el 9 de diciembre 2021.</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<style>
    .alert-anniversary{
        /* background-color: #eff5fb !important; */
        color: #296fa8 !important; 
        margin-bottom: 0px;
    }

    .link-to-price{
        /* color: #0056b3 !important; */
        color: #296fa8 !important;
        text-decoration: underline;
    }
</style>