<a class="btn btn-back" id="back-button" style="font-size: 1.5rem; color: #171F2A; padding-left: 0px;"> 
    <i class="fas fa-arrow-left"></i>
</a>

<script>
    var back_button = document.getElementById("back-button");
    
    back_button.addEventListener('click', (event) => {
        window.history.back();
    });
</script>