<p class="body plan-description">Para cualquier ciudadanos que no requiere consultar con tanta frecuencia nuestro contenido. Crear una cuenta te permite acceder a más contenido gratuito.</p>
<hr>
<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a <%= non_pro_law_count %> leyes.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Puedes descargar <%= maximum_basic_monthly_documents %> documentos en Valid al mes.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Búsquedas en todas las leyes compiladas.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Búsquedas avanzadas por leyes.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Recibe nuestro boletín con noticias legales relevantes.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a nuestro podcast <a target="_blank" href="<%= ley_abierta_url %>">Ley Abierta</a>.</li>
</ul>