<hr>
<ul class="fa-ul">
  <li>
     <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Más de <%= valid_gazettes_count %> gacetas, <%= valid_document_count %> documentos oficiales y <%= law_count %> leyes.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Búsquedas avanzadas.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
     Notificaciones personalizadas en base a intereses y monitoreo de instituciones.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    2 semanas de prueba.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Boletín informativo semanal con los cambios legales más relevantes.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Aplicación Web accesible desde cualquier dispositivo.
  </li>

</ul>
