<p class="body plan-description">
  Para abogados, empresas e instituciones que necesitan moniterear los cambios legales del país. Procesamos La Gaceta para que la puedas acceder fácilmente. Esta suscripción te da  acceso ilimitado a toda la información disponible en <a href="https://valid.todolegal.app/">Valid</a> y <a href="https://todolegal.app/">TodoLegal </a>
</p>
<hr>
<ul class="fa-ul">
  <li>
    <span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso para máximo 10 cuentas.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Descarga ilimitada de documentos
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Acceso a cada nueva Gaceta emitida.
  </li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>
    Más de <%= valid_gazettes_count %> gacetas disponibles y <%= valid_document_count %> documentos.
  </li>
</ul>
