<p style="font-size: 27px">PRIVACY POLICY</p>
<p class="body pb-2">
  This document entitled "Privacy Policy" sets out the terms on which Glyphtech Codex LLC uses and protects the information that is provided by its users when using its website. This company is committed to the security of its users' data. When we ask you to fill in the fields of personal information with which you can be identified, we do so by ensuring that it will only be used in accordance with the terms of this document. However, this Privacy Policy may change over time or be updated so we recommend and emphasize continually reviewing this page to ensure that you agree to such changes.
</p>

<h3>INFORMATION THAT IS COLLECTED</h3>
<p class="body pb-2">
  Our website may collect personal information such as: Name, contact information such as your email address and demographic information. Likewise, when necessary, specific information may be required to process an order or make a delivery or invoicing.
</p>

<h3>USE OF THE INFORMATION COLLECTED</h3>
<p class="body pb-2">
  Our website uses the information in order to provide the best possible service, particularly to maintain a record of users, orders if applicable, and improve our products and services. Emails may be sent periodically through our site with special offers, new products and other advertising information that we consider relevant to you or that may provide you with any benefit, these emails will be sent to the address you provide and may be cancelled at any time.
</p>
<p class="body pb-2">
  Glyphtech Codex LLC is highly committed to fulfilling the commitment to keep your information secure. We use the most advanced systems and constantly update them to ensure that there is no unauthorized access.
</p>

<h3>COOKIES</h3>
<p class="body pb-2">
  A cookie refers to a file that is sent in order to request permission to be stored on your computer, accepting such file is created and the cookie then serves to have information regarding web traffic, and also facilitates future visits to a recurring website. Another function that cookies have is that with them the websites can recognize you individually and therefore provide you with the best personalized service on their website.
</p>
<p class="body pb-2">
  Our website uses cookies to identify the pages that are visited and their frequency. This information is used only for statistical analysis and then the information is permanently deleted. You can delete cookies at any time from your computer. However cookies help provide a better service of the websites, they do not give access to information from your computer or from you, unless you want it and provide it directly. You can accept or deny the use of cookies, however most browsers accept cookies automatically as it serves to have a better web service. You can also change your computer settings to decline cookies. If you decline you may not be able to use some of our services.
</p>

<h3>LINKS TO THIRD PARTIES</h3>
<p class="body pb-2">
  This website may contain links to other sites that may be of interest to you. Once you click on these links and leave our page, we no longer have control over the site to which you are redirected and are therefore not responsible for the terms or privacy or the protection of your data on those other third-party sites. Such sites are subject to their own privacy policies so it is recommended that you consult them to confirm that you agree with them.
</p>

<h3>CONTROLLING YOUR PERSONAL INFORMATION</h3>
<p class="body pb-2">
  At any time you may restrict the collection or use of personal information that is provided to our website. Each time you are prompted to fill out a form, such as a user sign form, you can check or uncheck the option to receive information by email. In case you have checked the option to receive our newsletter or advertising you can cancel it at any time.
</p>
<p class="body pb-2">
  This company will not sell, assign or distribute personal information that is collected without your consent, unless required by a judge with a court order.
</p>
<p class="body pb-2">
  Glyptech Codex LLC rerserve the right to change the terms of this Privacy Policy an anytime.
</p>

<h3>CONTACT</h3>
<p class="body pb-2">
info@todolegal.app
+1 302 918-5516
Glyphtech Codex LLC DBA TODOLEGAL LLC
16192 Coastal Highway
Lewes, Delaware 19958 U.S.
</p>
<p class="body pb-2">
  Effective as of August 9, 2020.
