<p class="body plan-description">Nuestro plan Pro es para abogados, empresas e instituciones que necesitan moniterear los cambios legales del país. Procesamos La Gaceta para que la puedas acceder fácilmente. Esta suscripción te da  acceso ilimitado a toda la información disponible en <a href="https://valid.todolegal.app/">Valid</a> y <a href="https://todolegal.app/">TodoLegal</a>.</p>
<hr>
<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a cada nueva Gaceta publicada.</li>
    <li><span class="fa-li"><i class="fas fa-check"></i></span>Todo lo que incluye el plan básico.</li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso ilimitado a las <%= law_count %> leyes en TodoLegal.</li>
  <li class="d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso ilimitado de descargas a las <%= valid_document_count %> publicaciones de La Gaceta de Honduras.</li>
</ul>
