<p class="body plan-description">Nuestro plan Pro es para ciudadanos que hacen uso constante de normativa y Gacetas. Esta suscripción te da  acceso ilimitado a toda la información disponible en <a href="https://valid.todolegal.app/">Valid</a> y <a href="https://todolegal.app/">TodoLegal</a>.</p>
<hr>
<ul class="fa-ul">
  <li><span class="fa-li"><i class="fas fa-check"></i></span>Todo lo que incluye el plan básico.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso ilimitado a las <%= law_count %> leyes en TodoLegal.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso ilimitado de descargas a los <%= valid_document_count %> documentos en Valid.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a productos en desarrollo.</li>
  <li class="d-none d-sm-block"><span class="fa-li"><i class="fas fa-check"></i></span>Descuentos en charlas o eventos digitales organizados por TodoLegal.</li>
</ul>