<form action="/search_law" method="get">
  <div class="input-group input-group-lg mb-3">
    <input name="query" value="<%= @query %>" type="text" class="form-control" placeholder="ej. Código del Comercio" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
    </div>
  </div>
</form>

