<form action="<%= target_url %>" method="get">
  <div class="input-group input-group-lg mb-3">
    <input name="query" value="<%= @query %>" type="text" class="form-control" placeholder="Ej. Ad-litem, despido, prórroga" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block'" class="btn btn-outline-secondary buscar" type="button" id="button-addon2">Buscarr</button>
    </div>
  </div>
</form>

<div class="d-flex justify-content-center">
  <div id="loading-spinner" style="display: none;" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
