<form action="<%= target_url %>" method="get">
  <div class="input-group input-group-lg mb-3">
    <input name="query" value="<%= @query %>" type="text" class="form-control" placeholder="Ej. Ad-litem, despido, prórroga" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button type="submit" class="btn btn-outline-secondary buscar" type="button" id="button-addon2">Buscar</button>
    </div>
  </div>
</form>