<section>
  <form action="<%= target_url %>" method="get">
    <div id="search-input" class="input-group input-group-lg mb-3 main-search">
      <input name="query" id="searchInput" value="<%= @query %>" type="text" class="form-control" placeholder="Ej. Ad-litem, despido, prórroga" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
      <div class="input-group-append">
        <button type="submit" onclick="document.getElementById('loading-spinner').style.display = 'block';document.getElementById('search-input').style.display = 'none';" class="btn btn-primary buscar" type="button" id="button-addon2">Buscar</button>
      </div>
    </div>
    <div class="card" id="helpCard" style="display: none; z-index: 3;">
    <div class = "card-body">
      <p class="help-card-text" style="color: #A6B9D3; font-size: 16px; line-height: 19px;">Busca por:</p>
      <p class="help-card-text">1. Título de documento o número de publicación.</p>
      <p class="help-card-text">2. Palabra clave.</p>
      <p class="help-card-text">3. Artículos específicos. Para esta opción escribe un símbolo de pleca <strong>/</strong> al inicio, 
      seguido por el o los números, y finalmente el término, cada uno separado por pleca. Cómo el ejemplo a continuación:
      </p>
      <a href="#" id="search-example" class="btn btn-block btn-primary disabled" tabindex="-1" role="button" aria-disabled="true">/12/14/civil </a>
      <p class="help-card-text" style="color: #A6B9D3; font-size: 14px; line-height: 17px;">Equivale a la busqueda de artículos <i>12</i> y <i>14</i> que contengan el término <i>civil</i>.</p>
    </div>
  </div>
  </form>
  
</section>
<%= render '/home/loading_spinner' %>

<script>
  var inputField = document.getElementById('searchInput');
  var helpCard = document.getElementById('helpCard');

  inputField.addEventListener('focus', function(){
    helpCard.style.display = 'block';
  });

  inputField.addEventListener('focusout', function(){
    helpCard.style.display = 'none';
  });
</script>

<style>
  #search-example{
    background: #EFF3F8;
    border-style: none;
    color: black;
    line-height: 19px;
    justify-content: left;
  }
  
  #helpCard{
     box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);none
  }

  .help-card-text{
    font-size: 18px;
    line-height: 21px;
    color: #505864;
  }

</style>