<h2 class="section-title">TÉRMINOS Y CONDICIONES DE USO DEL SOFTWARE TODOLEGAL</h2>
<h3>1. Introducción.</h3>
<p class="body">
  Estos Términos y Condiciones regirán su acceso y uso del software como servicio (SaaS) TODOLEGAL (en adelante, los Servicios o SaaS). TODOLEGAL es un Doing Business As (DBA) o nombre comercial de Glyphtech Codex LLC, una Compañía de Responsabilidad Limitada de Delaware (en adelante, la "Compañía") y cualquier información, texto, gráficos, fotografías u otros materiales cargados, mostrados o descargados a través de los Servicios (en adelante colectivamente, el "Contenido"). El mero acceso y / o uso de los Servicios y su uso de los Servicios significa la aceptación del cumplimiento de estos Términos de Uso. La Empresa se reserva el derecho de actualizar sin previo aviso el software TODOLEGAL, por lo que desde el momento de la aceptación de este documento, el usuario comprende y acepta dicha condición.
</p>

<h3>2. Condiciones básicas.</h3>
<p class="body pb-2">
  Usted es responsable de su uso de los Servicios y de las consecuencias que surjan de dicho uso o publicaciones. Debe respetar estos Términos y Condiciones de Uso del Software en todo momento. Usted manifiesta expresamente que utilizará el software con diligencia y asume cualquier responsabilidad que pudiera derivarse del incumplimiento de las normas.
</p>
<p class="body pb-2">
TODOLEGAL y los productos y servicios ofrecidos en este están exclusivamente dirigidos a profesionales, universidades, instituciones públicas y empresas. No será por tanto de aplicación en la citada relación la normativa vigente en materia de consumidores y usuarios. Si usted piensa hacer un uso personal -no profesional- de este sitio web o de los productos y servicios ofrecidos en el mismo, deberá contactar con nosotros previamente, a fin de definir el marco contractual que regulará la relación entre la Compañía y usted.
</p>

<h3>3. Responsabilidades de TODOLEGAL</h3>
<p class="body pb-2">
 El usuario conoce y acepta que el sitio web y software todolegal.app no otorga ninguna garantía de cualquier naturaleza, ya sea expresa o implícita, sobre los datos, contenidos, información y servicios que se incorporan y ofrecen desde el sitio web.
</p>
<p class="body pb-2">
 Exceptuando los casos que la ley imponga expresamente lo contrario, la empresa no garantiza ni asume responsabilidad alguna respecto a los posibles daños y perjuicios causados por el uso y utilización de la información, datos y servicios del sitio web. 
</p>
<p class="body pb-2">
  En todo caso, la empresa excluye cualquier responsabilidad por los daños y perjuicios que puedan deberse a la información y/o servicios prestados o suministrados por terceros diferentes de la Empresa. Toda responsabilidad será del tercero ya sea proveedor, colaborador u otro.
</p>

<h3>4. Obligaciones de los Usuarios y Condiciones de acceso.</h3>
<p class="body pb-2">
 4.1 El Cliente es responsable de:
</p>
<p class="body pb-2">
<ol type="a">
<li>
El Cumplimiento por parte de sus Usuarios de estos Términos y Condiciones.
</li>  
<li>
Emplear razonables esfuerzos para impedir el uso del Servicio por personas no autorizadas y notificar a TODOLEGAL en caso de que estas se produzcan. El Cliente acepta que usará el Servicio en calidad de usuario final, sin que pueda ceder su uso a otras personas u organizaciones distintas, ni de forma gratuita ni onerosa.
</li>

La comunicación o cesión de los datos de acceso a otros individuos u organizaciones constituirá un incumplimiento grave del presente contrato. El cliente será responsable también de cualquier daño, perjuicio y pérdida, así como de los costes que se incurran por razón del mismo incluyendo los costes de asesoramiento jurídico.
  
A los efectos del presente contrato, cada acceso no autorizado a los contenidos, productos y servicios ofrecidos en el sitio web todolegal.app, tendrá la consideración de contratación de dichos contenidos, productos o servicios por parte del Cliente cuyo nombre de usuario y contraseña se haya usado de forma irregular, por lo que TODOLEGAL quedará facultada para facturar y exigir el pago de estas compras individuales de acuerdo con las tarifas de precios vigentes en cada momento.

<li>  
Proporcionar información de contacto completa y veraz, siendo responsable de su actualización. A todos los efectos se considerará que las comunicaciones realizadas por TODOLEGAL a los datos de contacto comunicados por el cliente tienen validez legal. En caso de que TODOLEGAL no se pueda contactar con el Cliente, por cualquier causa, o que los datos de contacto no sean suficientes, la empresa podrá suspender temporalmente el acceso al servicio o producto que se haya contratado en tanto y en cuanto el Cliente no actualice los datos de contacto.
</li>
</ol>
</p>

<p class="body pb-2">
 4.2 Uso permitido
</p>
<p class="body pb-2">
  Los Usuarios podrán hacer un uso razonable de los contenidos suministrados para el uso individual de estos. En particular el Cliente y sus Usuarios podrán ser usar los Contenidos incluidos en los Servicios para:
<ul> 
    <li>Visualización electrónica de los contenidos.</li>
    <li>Impresión o copia digital de partes no sustanciales de los contenidos para un uso profesional.</li>
    <li>Creación de Materiales de Apoyo a Cursos de formación.</li>
    <li>Envío a terceros de porciones mínimas, no sustanciales.</li>
</ul>
</p>
<p class="body pb-2">
 4.3 Uso no permitido.
</p>
<p class="body pb-2">
Con la excepción prevista en la cláusula anterior el Cliente y sus Usuarios no puede copiar, duplicar, reproducir, vender, revender, traducir, republicar, transmitir cualquier parte de este sitio web o de su Contenido ya sea para uso comercial o no comercial. El Cliente no puede sublicenciar, reutilizar, descompilar, alquilar, vender, realizar ingeniería inversa, o crear obras derivadas de este sitio web o de su Contenido. El Cliente no puede usar técnicas de framing o cualesquiera otras para esconder la marca, logo u otras porciones del sitio web, sin la autorización previa y por escrito de TODOLEGAL.
</p>
<p class="body pb-2">
Se prohíbe expresamente un uso abusivo y la descarga, copia o reutilización de todo o una parte sustancial de cualquier contenido, sea cual sea el uso ﬁnal que se quiera hacer del mismo. Sin perjuicio del derecho a reclamar daños y perjuicios, las descargas incumpliendo dicha prohibición se considerarán compras individuales de documentos, de acuerdo con las tarifas de precios de TODOLEGAL vigentes en cada momento.
</p>
<p class="body pb-2">
 El Cliente no puede usar software automatizado o proceso manual para copiar o monitorear el servicio de TODOLEGAL y/o su contenido sin la autorización previa y por escrito de esta. El Cliente no puede manipular o usar el contenido del software y sitio web todolegal.app propiedad de TODOLEGAL., para crear publicaciones y/o servicios de cualquier tipo y, en especial, de aquellos que puedan ser comparables o que compitan de cualquier forma con los Servicios y/o el Contenido que esta empresa ofrece ahora o pueda ofrecer en el futuro. Se prohíbe expresamente la inclusión de contenidos de TODOLEGAL en cualquier base de datos, de cualquier tipo, sin importar su formato o si son de acceso público o privado, de pago o gratuitas.
</p>
<p class="body pb-2">
El Cliente y Usuario no podrá introducir ni tratar en el Servicio datos de carácter personal. A todos los efectos, el usuario será el único responsable del incumplimiento de esta prohibición.
</p>

<h3>5. Facturación y cancelación.</h3>
<p class="body pb-2">
 5.1. Ciclo de facturación. La tarifa de suscripción del Servicio y cualquier otro cargo en el que pueda incurrir en relación con el uso del servicio, como impuestos y posibles tarifas de transacción, se cargarán a su Método de pago en la fecha de facturación específica indicada en su página "Cuenta". La duración de su ciclo de facturación dependerá del tipo de suscripción que elija cuando se registre en el servicio. En algunos casos, su fecha de pago puede cambiar, por ejemplo, si su Método de pago no se ha liquidado correctamente o si su membresía paga comenzó en un día que no figura en un mes determinado. Visite nuestro sitio web y haga clic en el enlace "Detalles de facturación" en la página "Cuenta" para ver su próxima fecha de pago. Podemos autorizar su Método de pago antes de los cargos relacionados con la membresía o el servicio a través de varios métodos, incluida la autorización por hasta aproximadamente un mes de servicio tan pronto como se registre. En algunos casos, su saldo disponible o su límite de crédito pueden reducirse para reflejar la autorización durante su período de prueba gratuito.
  </p>
<p class="body pb-2">
 5.2. Métodos de pago. Para utilizar el Servicio, debe proporcionar uno o más métodos de pago. Usted nos autoriza a cargar cualquier método de pago asociado a su cuenta en caso de que su Método de pago principal sea rechazado o ya no esté disponible para el pago de su tarifa de suscripción. Usted sigue siendo responsable de los importes no cobrados. Si un pago no se liquida con éxito, debido a vencimiento, fondos insuficientes o de otra manera, y no cancela su cuenta, podemos suspender su acceso al servicio hasta que hayamos cargado con éxito un Método de pago válido. Para algunos métodos de pago, el emisor puede cobrar ciertas tarifas, como tarifas de transacciones extranjeras u otras tarifas relacionadas con el procesamiento de su Método de pago. Los cargos por impuestos locales pueden variar según el método de pago utilizado. Consulte con el proveedor de servicios de su método de pago para obtener más detalles.
</p>
<p class="body pb-2">
 5.3. Actualización de sus métodos de pago. Puede actualizar sus métodos de pago yendo a la página "Cuenta". También podemos actualizar sus Métodos de pago utilizando la información proporcionada por los proveedores de servicios de pago. Después de cualquier actualización, nos autoriza a seguir cobrando los métodos de pago correspondientes.
</p>
<p class="body pb-2">
 5.4. Cancelación. Puede cancelar su membresía TODOLEGAL en cualquier momento y continuará teniendo acceso al Servicio hasta el final de su período de facturación. En la medida en que lo permita la ley aplicable, los pagos no son reembolsables y no proporcionamos reembolsos ni créditos por ningún período parcial de membresía. Para cancelar, vaya a la página "Cuenta" y siga las instrucciones para la cancelación. Si cancela su membresía, su cuenta se cerrará automáticamente al final de su período de facturación actual. Para ver cuándo se cerrará su cuenta, haga clic en "Detalles de facturación" en la página "Cuenta". Si se registró en el Servicio utilizando su cuenta con un tercero como Método de pago y desea cancelar su membresía, es posible que deba hacerlo a través de dicho tercero, por ejemplo, visitando su cuenta con el tercero correspondiente y desactivando renovar automáticamente o cancelar la suscripción al Servicio a través de ese tercero. También puede encontrar información de facturación sobre su membresía visitando su cuenta con el tercero correspondiente.
</p>
<p class="body pb-2">
  5.5. Cambios en los Planes de Precio y Suscripción. Podemos cambiar nuestros planes de suscripción y el precio de nuestro servicio de vez en cuando; sin embargo, cualquier cambio de precio o cambio en sus planes de suscripción se aplicará no antes de los 30 días posteriores a la notificación.
</p>

<h3>6. Derechos de Autor.</h3>
<p class="body pb-2">
 El Software se pone a disposición para su uso exclusivamente para los usuarios. Cualquier reproducción o redistribución del Software está expresamente prohibido por la Ley y es considerado como delito en los términos penales. Cualquier violación a los derechos autorales así como de los presentes Términos y Condiciones se perseguirá como delito ante las autoridades competentes. Sin limitación por lo anterior, queda expresamente prohibida su reproducción total o parcial a cualquier otro servidor o locación para su posterior reproducción o redistribución, su traducción, inclusión, transmisión, almacenamiento o acceso a través de medios analógicos, digitales o de cualquier otro sistema o tecnología creada, a menos que esté expresamente permitido por el contrato de licencia que acompañe dicho software. Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de Derechos de Autor o Propiedad Industrial, que sean accesibles en el software, corresponden exclusivamente a la Empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos. En cualquier caso, TODOLEGAL, se reserva todos los derechos sobre los contenidos, información, datos y servicios que ostente sobre los mismos. TODOLEGAL no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en los presentes Términos y Condiciones de Uso o en el Contrato de Licencia de Uso de Software. En caso de que se utilice cualquier información contenida en este sitio web para fines diferentes a los autorizados, o simplemente se utilice para fines distintos a los expresamente detallados en los presentes Términos y Condiciones de Uso se considerará esto como una vulneración a los Derechos de Autor y la Empresa ejercerá las acciones legales correspondientes a que haya lugar conforme a la Ley Federal de Derechos de Autor y Ley de Propiedad Industrial.
</p>

<h3>7. Limitaciones de garantía y responsabilidad.</h3>
<p class="body pb-2">
  Este apartado establece los límites de responsabilidad de TODOLEGAL, y de sus sociedades, matrices, filiales, asociadas, sociedades vinculadas, directivos, consejeros, empleados, agentes, representantes, socios y licenciatarios (en adelante, colectivamente, las «Entidades de TODOLEGAL,»). El usuario es responsable del uso que haga de los Servicios o del Contenido y del acceso a estos.  Usted entiende y acepta que los Servicios se le proporcionan COMO ESTÁN Y SEGÚN DISPONIBILIDAD. Intentamos mantener TODOLEGAL en funcionamiento, sin errores y seguro, pero usted lo utiliza bajo su propia responsabilidad. Proporcionamos TODOLEGAL tal cual, sin garantía alguna expresa o implícita, incluidas, entre otras, las garantías de comerciabilidad, adecuación a un fin particular y no incumplimiento. No garantizamos que TODOLEGAL sea siempre seguro o esté libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones.  TODOLEGAL no se responsabiliza de las acciones, el contenido, la información o los datos de terceros, y por la presente usted dispensa a la Empresa, nuestros directivos, empleados y agentes de cualquier demanda o daños, conocidos o desconocidos, derivados de cualquier demanda que tenga interpuesta contra tales, terceros o de algún modo relacionados con esta. Las Entidades de TODOLEGAL, no ofrecen ninguna garantía y excluye toda responsabilidad con respecto a:
  <ul>
    <li>La integridad, exactitud, disponibilidad, puntualidad, seguridad o fiabilidad de los Servicios o el Contenido,</li>
    <li>Los daños ocasionados en su sistema informático, la pérdida de datos u otros daños que sean consecuencia del uso que usted haga de los Servicios o del Contenido o del acceso a estos,</li>
    <li>La supresión del Contenido y de otras comunicaciones mantenidas a través de los Servicios o la omisión de guardarlos o transferirlos. Los consejos o las informaciones, verbales o por escrito, proporcionados por las Entidades de TODOLEGAL, o a través de los Servicios prestados por esta, no crearán ninguna garantía que no se ofrezca de manera expresa en el presente.</li>
   </ul>
</p>
   
<p class="body pb-2">
 En la medida máxima permitida por la legislación aplicable, las Entidades de TODOLEGAL, no serán responsables por los daños indirectos, incidentales, cuantificables, emergentes o punitivos; pérdidas de beneficios o ingresos, directas o indirectas, o pérdidas de datos, uso, fondo de comercio u otras pérdidas intangibles, que sean consecuencia:
    <ul>
    <li>Del uso que usted haga de los Servicios o del acceso a estos por su parte, o de la imposibilidad de utilizar los servicios o acceder a estos,</li>
    <li>De la conducta o el Contenido de terceros en los servicios, incluido, a título enunciativo, toda conducta difamatoria, ofensiva o ilícita de otros usuarios o terceros,</li>
    <li>Del contenido obtenido a través de los Servicios, o </li>
    <li>Del acceso, el uso o la modificación no autorizados de su contenido o de las transferencias que usted efectúe. Las limitaciones que se establecen en este subapartado se aplican a toda teoría de responsabilidad, sea por garantía, contrato, ley, agravio (incluida negligencia) o según sea el caso, e independientemente de que se haya informado a las Entidades de TODOLEGAL, de la posibilidad de que se produzcan tales daños, incluso en el caso de que un recurso establecido en virtud del presente haya fallado en su propósito esencial. En ningún caso la Empresa, TODOLEGAL, o sus proveedores pueden ser señalados responsables por cualquier daño especial, indirecto o cualquier otro tipo de daño que resulte de la pérdida de información por el uso o negligencia que surja por o en conexión con el uso o desempeño del Software, documentos o alguna falla al proveer los Servicios o información disponible en ellos.</li>
  </ul>
</p>

<h3>8. No asesoramiento jurídico.</h3>
<p class="body pb-2">
  En ningún caso se podrá considerar que TODOLEGAL está ofreciendo asesoramiento jurídico o empresarial, o que existe una relación cliente-abogado o que algunas informaciones proporcionadas por el Cliente a TODOLEGAL, estén protegidas por el Secreto profesional.
</p>
<p class="body pb-2">
TODOLEGAL, y los terceros proveedores de contenidos, no ofrecen garantías, ni expresas ni implícitas, con respecto al Servicio y sus Contenidos, su calidad o idoneidad para ﬁnes concretos, su exactitud, actualización o carácter completo. En ocasiones TODOLEGAL puede proveer de una traducción de determinados documentos. El Cliente conoce que dicha Traducción es meramente informativa y se indica a los solos efectos de conocer el sentido general del documento traducido. El Cliente es responsable de solicitar a un Tercero una traducción profesional.
</p>
<p class="body pb-2">
Si el cliente es un abogado, éste acepta que en algunos países y jurisdicciones las Normas de Conducta Profesional pueden resultar aplicables en relación a su uso de este sitio web y de sus Contenidos. En las jurisdicciones donde resulta aplicable el “common law” el Cliente consiente expresamente que será su exclusiva responsabilidad asegurarse de que un caso determinado siga resultando aplicable. El Cliente asume que todos los documentos incluidos en el Servicio se incluyen a efectos meramente orientativos y que cualquier decisión tomada en base a los mismos se hace a cuenta y riesgo de el cliente.
</p>

<h3>9. Ley aplicable y jurisdicción competente.</h3>
<p class="body pb-2">
 En el caso de una disputa que surja de la interpretación o cumplimiento de estos Términos de Uso, las Políticas de Privacidad o cualquier otro documento relevante del software, el usuario acepta que se aplicarán las Leyes del Estado de Delaware, renunciando expresamente a cualquier otra jurisdicción. o jurisdicción que le pudiera corresponder por razón de su domicilio presente o futuro.
</p>

<h3>10. Contacto</h3>
<p class="body pb-2"><a href="mailto:info@todolegal.app">info@todolegal.app</a><br>
  <a href="tel:+1 302 918-5516">+1 302 918-5516</a><br>
  Glyphtech Codex LLC DBA TODOLEGAL LLC<br>
  16192 Coastal Highway<br>
  Lewes, Delaware 19958 U.S.<br>
  </p>
<p class="body pb-2">
  Vigente a partir de Agosto 9, 2020.
</p>
