<p style="font-size: 27px">TERMS AND CONDITIONS OF USE OF TODOLEGAL SOFTWARE</p>
<h3>1. Introduction.</h3>
<p class="body">
  These Terms and Conditions shall govern your access to and use of the software as a service  (SaaS) TODOLEGAL (hereinafter, the Services or SaaS). TODOLEGAL is a Doing Business As (DBA) or trade name of Glyphtech Codex LLC a Delaware Limited Liability Company (hereinafter, the "Company") and any information, text, graphics, photographs or other materials uploaded or displayed on or downloaded through the Services (hereinafter collectively, the "Content").  The mere access and/or use of the Services and your use of the Services means acceptance of compliance with these Terms of Use. The Company reserves the right to update without prior notice the TODOLEGAL software, so from the moment of acceptance of this document, the user understands and accepts such condition
</p>

<h3>2. Basic conditions.</h3>
<p class="body pb-2">
  You are responsible for your use of the Services and for the consequences arising from such use or postings. You must respect these Terms and Conditions of Use of the Software at all times. You expressly represent that you will use the software diligently and assume any liability that may arise from non-compliance with the rules.
</p>

<h3>3. Conditions of use of the website.</h3>
<p class="body pb-2">
  The Services may contain email services, chat areas, group news, forums, communities, calendars, photographs, file files and/or other messages or communications designed for communication with third parties (Communication Services). You agree to use these services only to send, post and receive messages and materials that do not contravene the legal provisions. Users undertake to make good use of the website and its contents, respecting the current national regulations, good customs and public order, committing at all times not to cause damage to TODOLEGAL or any third party. For this purpose, the user shall refrain from using any of the services for illicit purposes or effects, prohibited in these Terms and Conditions, harmful to the rights and interests of third parties, or that in any way may damage, disable, overload, deteriorate or impede the normal use of the services, operation of any program, documents and all kinds of content on and from any computer or telecommunications equipment. The Services may not be used in any way that could cause damage, disable or saturate any of the  uses of the Company, the network(s) connected to any of the Company’s server, or interfere with the use and enjoyment of the Services in favor of another user. You must not attempt to have unauthorized access to the Services, another account, systems, or networks connected to any of the Company’s server or the Services through the theft or breach of data or programs. You are responsible for the material you post yourself, so you must comply with the Laws and Regulations that apply to Industrial and Intellectual Property. You will release in peace and safe legal to the Company and TodoLegal of any claim, complaint and / or claim that is filed against you for the publication of the material for which You are responsible. The Services are provided for the exclusive and specific use embodied in the Software Use License Agreement; Users are not authorized to modify, copy,  distribute, transmit, communicate, perform, reproduce, publish, license, create derivative works from, transfer or sell any information, software, product or service obtained or derived from the Services.
</p>

<h3>4. Billing and Cancelation.</h3>
<p class="body pb-2">
  4.1. Billing Cycle. The membership fee for the Service and any other charges you may incur in connection with your use of the service, such as taxes and possible transaction fees, will be charged to your Payment Method on the specific billing date indicated on your "Account" page. The length of your billing cycle will depend on the type of subscription that you choose when you sign-up for the service. In some cases your payment date may change, for example if your Payment Method has not successfully settled or if your paid membership began on a day not contained in a given month. Visit our website and click on the "Billing details" link on the "Account" page to see your next payment date. We may authorize your Payment Method in anticipation of membership or service-related charges through various methods, including authorizing it for up to approximately one month of service as soon as you register. In some instances, your available balance or credit limit may be reduced to reflect the authorization during your free trial period.
</p>
<p class="body pb-2">
  4.2. Payment Methods. To use the Service you must provide one or more Payment Methods. You authorize us to charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your Payment Method. Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service provider for details.
</p>
<p class="body pb-2">
  4.3. Updating your Payment Methods. You can update your Payment Methods by going to the "Account" page. We may also update your Payment Methods using information provided by the payment service providers. Following any update, you authorize us to continue to charge the applicable Payment Method(s).
</p>
<p class="body pb-2">
  4.4. Cancellation. You can cancel your TODOLEGAL membership at any time, and you will continue to have access to the Service through the end of your billing period. To the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial membership periods. To cancel, go to the "Account" page and follow the instructions for cancellation. If you cancel your membership, your account will automatically close at the end of your current billing period. To see when your account will close, click "Billing details" on the "Account" page. If you signed up for the Service using your account with a third party as a Payment Method and wish to cancel your membership, you may need to do so through such third party, for example by visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from the Service through that third party. You may also find billing information about your membership by visiting your account with the applicable third party.
</p>
<p class="body pb-2">
  4.5. Changes to the Price and Subscription Plans. We may change our subscription plans and the price of our service from time to time; however, any price changes or changes to your subscription plans will apply no earlier than 30 days following notice to you.
</p>

<h3>5. User Obligations and Conditions of Access.</h3>
<p class="body pb-2">
  You may only access and use the Services for legitimate purposes.  You are solely responsible for the knowledge and compliance with laws, regulations and regulations relating to the use of the Service.  You agree not to:
  <ul>
    <li>Use the Services or encourage conduct that may constitute the commission of a crime or give rise to civil liability, or otherwise violate any local, state, federal or international laws or regulations, including but not limited to;</li>
    <li>Upload, post, email or otherwise transfer content that is illegal, threatening, defamatory, hostile, vulgar, obscene, pornographic, profane, that invades another person's privacy or promotes hatred or xenophobia or that is objectionable for any reason;</li>
    <li>Upload, post, email or otherwise transfer content for which you do not have the broadcast rights;</li>
    <li>Upload, post, email or otherwise transmit content that infringes patents, trademarks, trade secrets, copyrights or other proprietary rights of third parties;</li>
    <li>Modify, damage or delete content or other communications that you do not own, or interfere with the ability of others to access or use the Services;</li>
    <li>Upload, post, email or otherwise transmit advertising, promotional materials or other ways of addressing other users who are not authorized, including but not limited to "notifications", "messages", "spam", "spam" or "chain messages";</li>
    <li>Interfere with or disrupt the Services, servers or networks connected to the Services or disobey the requirements, procedures, policies or regulations of networks connected to the Services, as well as adapt or otherwise modify, create a derivative or decompiled product, reverse engineer or otherwise attempt to obtain the source code of the Services (or a portion thereto);</li>
    <li>Reproduce, duplicate, copy, use, distribute, sell, resell or exploit in any way and for commercial purposes parts of TODOLEGAL or its services;</li>
    <li>Collect or store personal information about other users without their consent. We reserve the right to suppress or refuse the distribution of Content on the Services and to suspend or cancel users without liability to you, but we shall have no obligation to do so.  We also reserve the right to access, read, preserve and disclose all information we deem necessary to:</li>
    <li>Comply with applicable laws or regulations or respond to requests relating to judicial or governmental procedures;</li>
    <li>Enforce the conditions, including investigation of possible violations thereon;</li>
    <li>Detect, prevent or, as the case may be, address fraud, security or technical issues;</li>
    <li>Protect the rights, property or safety of TODOLEGAL, users and third parties.</li>
  </ul>
</p>

<h3>6. Copyright.</h3>
<p class="body pb-2">
  The Software is made available for use only to users. Any reproduction or redistribution of the Software expressly prohibited by law and is considered a criminal offense under criminal terms. Any violation of copyright and these Terms and Conditions shall be prosecuted as a crime before the competent authorities. Without limitation, its reproduction in whole or in part to any other server or location for subsequent reproduction or redistribution, its translation, inclusion, transmission, storage or access through analogue, digital or any other system or technology created, is expressly prohibited, unless  expressly permitted by the license agreement accompanying such software. All content, trademarks, logos, drawings, documentation, software or any other element eligible for protection by copyright or industrial property legislation, which are accessible in the software, correspond exclusively to the Company or its legitimate owners and all rights in them are expressly reserved. In any case, the Company, reserves all rights to the contents, information, data and services held about them. The Company, does not grant any license or authorization to use the user on its contents, data or services, other than that expressly detailed in these Terms and Conditions of Use or in the Software Use License Agreement. In the event that any information contained on this website is used for purposes other than those authorized, or simply used for purposes other than those expressly detailed in these Terms and Conditions of Use this shall be deemed to be a violation of copyright and the Company shall exercise the corresponding legal actions under the Federal Copyright Law and Industrial Property Law.
</p>

<h3>7. Limitations of Warranty and Liability.</h3>
<p class="body pb-2">
  This section sets the limits of liability of the Company, and its companies, parent, subsidiaries, affiliates, affiliated companies, directors, employees, agents, representatives, partners and licensees (collectively, the "Entities of GLYPHTECH CODEX LLC”). You are responsible for your use of and access to the Services or Content.  You understand and agree that the Services are provided to you AS IS AND AS AVAILABLE. We try to keep TODOLEGAL running, error-free and safe, but you use it at your own risk. We provide TODOLEGAL as is, without any express or implied warranty, including but not limited to warranties of merchantability, fitness for a particular purpose and non-infringement. We do not guarantee that TODOLEGAL is always safe or error-free, or that it will always work without interruptions, delays or imperfections.  The Company, is not responsible for the actions, content, information or data of third parties, and you hereby waive the Company, our officers, employees and agents of any claim or damages, known or unknown, arising out of any claims you have brought against such, third parties or in any way related to it. The Entities of the Company, make no warranties and exclude all liability with respect to:
  <ul>
    <li>The completeness, accuracy, availability, timeliness, security or reliability of the Services or Content,</li>
    <li>Damages caused to your computer system, loss of data or other damages resulting from your use of or access to the Services or access to the Services, and</li>
    <li>Suppression of Content and other communications maintained through the Services or failure to store or transfer them. Advice or information, verbal or written, provided by the Entities of the Company, or through the Services provided by it, will not create any guarantee that is not expressly offered herein. To the maximum extent permitted by applicable law, the Entities of the Company, shall not be liable for indirect, incidental, quantifiable, consequential or punitive damages; loss of profits or income, direct or indirect, or loss of data, use, goodwill or other intangible losses, resulting from:</li>
    <li>Your use of or access to the Services by you, or the inability to use or access the Services,</li>
    <li>From the conduct or Content of third parties in the Services, including, but not limited to, any defamatory, offensive or unlawful conduct of other users or third parties,</li>
    <li>The content obtained through the Services, or</li>
    <li>From unauthorized access, use or modification of your content or transfers. The limitations set forth in this sub-paragraph apply to any theory of liability, whether by warranty, contract, law, tort (including negligence) or as the case may be, and regardless of whether the Entities of the Company have been informed of the possibility of such damages, even if a remedy established hereunder has failed in its essential purpose. In no event may the Company, or its suppliers be held liable for any special, indirect or other damage resulting from the loss of information due to the use or negligence arising out of or in connection with the use or performance of the Software, documents or any failure to provide the Services or information available therein.</li>
  </ul>
</p>

<h3>8. Applicable law and competent jurisdiction.</h3>
<p class="body pb-2">
  In the event of a dispute arising out of the interpretation or compliance with these Terms of Use, the Privacy Policies or any other relevant document of the software, the user agrees that the Laws of the State of Delaware will apply, expressly waiving any other jurisdiction or jurisdiction that may correspond to him because of his/her present or future domicile.
</p>

<h3>9. Contact</h3>
<p class="body pb-2">info@todolegal.app<br>
  +1 302 918-5516<br>
  Glyphtech Codex LLC DBA TODOLEGAL LLC<br>
  16192 Coastal Highway<br>
  Lewes, Delaware 19958 U.S.<br>
  Effective as of August 9, 2020.
</p>