<p style="font-size: 27px">TERMINOS Y CONDICIONES DE USO DEL SOFTWARE TODOLEGAL</p>
<h3>1. Introducción.</h3>
<p>
  Los presentes Términos y Condiciones regirán el acceso y el uso del producto de software y de los servicios de <b>TODOLEGAL</b> (en adelante, los «<b>Servicios</b>»), propiedad de <b>Legal Technologies, S. A. de C. V.</b> (en adelante, la «<b>Empresa</b>») así como toda información, texto, gráficos, fotografías u otros materiales que se carguen o se muestren en los Servicios o se descarguen a través de estos (en adelante, colectivamente, el «<b>Contenido</b>»).  El mero acceso y/o utilización a los Servicios y el uso que usted haga de estos significa una aceptación del cumplimiento de los presentes Términos y Condiciones de Uso.
  <b>Legal Technologies, S. A. de C. V.</b> se reserva el derecho de actualizar sin previo aviso el software TODOLEGAL, por lo que desde el momento de la aceptacion del presente documento, el usuario entiende y acepta dicha condicion
</p>
 
<h3>2. Condiciones básicas.</h3>
<p>
  El usuario es responsable del uso que haga de los Servicios y de las consecuencias que se deriven de dicho uso o publicaciones.  .
  El usuario deberá respetar en todo momento los presentes Términos y Condiciones de Uso del Software. De forma expresa el usuario manifiesta que utilizará el software de forma diligente y asumiendo cualquier tipo de responsabilidad que pudiera derivarse del incumplimiento de las normas.
</p>
 
<h3>3.- Condiciones de utilización del sitio web.</h3>
<p>
  Los Servicios pueden contener servicios de correo electrónico, áreas de chat, noticias de grupo, foros, comunidades, calendarios, fotografías, archivo de expedientes y/o otros mensajes o comunicaciones diseñadas para la comunicación con terceros (<b>Servicios de Comunicación</b>). Usted acepta utilizar estos servicios únicamente para enviar, publicar y recibir mensajes y materiales que no contravienen las disposiciones legales.
  Los Usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente de la Republica de Honduras, las buenas costumbres y el orden público, comprometiéndose en todo momento a no causar daños a <b>TODOLEGAL</b> ni a ningún tercero. A tal efecto, el usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes Términos y Condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, funcionamiento de cualquier programa, documentos y toda clase de contenidos en y desde cualquier equipo informático o de telecomunicaciones.
  Los Servicios no podrán usarse de ninguna manera tal que pudiera causar daño, deshabilitar o saturar cualquiera de los empledo de LEGAL TECHNOLOGIES, S. A., la(s) red(es) conectada(s) a cualquier servidor de Legal Techonoloies,, S. A. o interferir con el uso y goce de los Servicios a favor de otro usuario. El usuario no debe intentar tener acceso no autorizado a los Servicios, a otra cuenta, sistemas o redes conectadas a algún servidor de LEGAL TECHNOLOGIES, S. A. de C. V. o a los Servicios a través del robo o violación de datos o programas.
</p>
<p>
  Usted es responsable del material que usted mismo publique, por lo que deberá cumplir con las Leyes y reglamentos que en materia de Propiedad Industrial e Intelectual apliquen. Usted sacará en paz y a salvo a LEGAL TECHNOLOGIES, S. A. de C. V. y TodoLegal de cualquier demanda, denuncia y/o reclamación que se presente en su contra por la publicación del material del que Usted es responsable.
</p>
<p>
  Los Servicios se proporcionan para el uso exclusivo y específico plasmado en el Contrato de Licencia de Uso de Software; los usuarios no están autorizados a modificar, copiar, distribuir, transmitir, comunicar, ejecutar, reproducir, publicar, licenciar, crear obras derivadas de, transferir o vender ninguna información, software, producto o servicio obtenido o que se desprenda de los Servicios.
</p>
 
<h3>4.- Obligaciones de los Usuarios y Condiciones de acceso.</h3>
<p>
  Solo puede tener acceso a los Servicios y utilizarlos con propósitos legítimos.  El usuario es el único responsable del conocimiento y cumplimiento de las leyes, normativas y reglamentos relativos al uso del Servicio.  El usuario se compromete a no:
  <ul>
    <li>Utilizar los Servicios o alentar conductas que puedan constituir la comisión de un delito o dar lugar a responsabilidad civil, o de otro modo incumplir cualquier legislación o normativa local, estatal, federal o internacional, incluido, a título enunciativo;</li>
    <li>Subir, publicar, enviar por correo electrónico o transferir por otros medios contenido que sea ilegal, amenazante, difamatorio, hostil, vulgar, obsceno, pornográfico, profano, que invada la privacidad de otra persona o promueva el odio o la xenofobia o que sea censurable por el motivo que fuere;</li>
    <li>Subir, publicar, enviar por correo electrónico o transferir por otros medios contenido para el que no tenga los derechos de transmisión;</li>
    <li>Subir, publicar, enviar por correo electrónico o transmitir por otros medios contenido que infrinja patentes, marcas registradas, secretos comerciales, derechos de autor u otros derecho de propiedad de terceros;</li>
    <li>Modificar, dañar o eliminar contenido u otras comunicaciones que no sean de su propiedad, o bien interferir en la capacidad de otros a acceder a los Servicios o utilizarlos;</li>
    <li>Subir, publicar, enviar por correo electrónico o transmitir por otros medios publicidad, materiales promocionales u otras formas de abordar a los demás usuarios que no estén autorizadas, incluido, a título enunciativo, «notificaciones», «mensajes», «correo basura», «spam» o «mensajes en cadena»;</li>
    <li>Interferir o interrumpir los Servicios, los servidores o las redes conectadas a los Servicios o desobedecer los requisitos, procedimientos, políticas o reglamentos de las redes conectadas a los Servicios, así como adaptar o de otro modo modificar, crear un producto derivado o descompilar, aplicar ingeniería inversa o de otro modo intentar obtener el código fuente de los Servicios (o de una parte de estos);</li>
    <li>Reproducir, duplicar, copiar, usar, distribuir, vender, revender o explotar de la forma que fuere y con fines comerciales partes de TODOLEGAL o sus servicios;</li>
    <li>Recopilar o almacenar información personal sobre otros usuarios sin su consentimiento.</li>
    Nos reservamos el derecho a suprimir o rechazar la distribución del Contenido en los Servicios y de suspender o cancelar usuarios sin responsabilidad alguna para con usted, pero no tendremos la obligación de hacerlo.  Asimismo, nos reservamos el derecho a accesar, leer, preservar y revelar toda la información que consideremos necesaria para:
    <li>Cumplir con las leyes o reglamentos aplicables o atender a las solicitudes relativas a procedimientos judiciales o gubernamentales;</li>
    <li>Hacer valer las condiciones, incluida la investigación de posibles violaciones de estas;</li>
    <li>Detectar, prevenir o, según sea el caso, abordar problemas de fraude, de seguridad o técnicos;</li>
    <li>Proteger los derechos, la propiedad o la seguridad de TODOLEGAL, los usuarios y terceros.</li>
  </ul>
</p>
 
<h3>5.- Derechos de Autor.</h3>
<p>
  El Software se pone a disposición para su uso exclusivamente para los usuarios. Cualquier reproducción o redistribución del Software expresamente prohibido por la Ley y es considerado como delito en los términos penales. Cualquier violación a los derechos autorales así como de los presentes Términos y Condiciones se perseguirá como delito ante las autoridades competentes. Sin limitación por lo anterior, queda expresamente prohibida su reproducción total o parcial a cualquier otro servidor o locación para su posterior reproducción o redistribución, su traducción, inclusión, transmisión, almacenamiento o acceso a través de medios analógicos, digitales o de cualquier otro sistema o tecnología creada, a menos que esté expresamente permitido por el contrato de licencia que acompañe dicho software.
  Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de Derechos de Autor o Propiedad Industrial, que sean accesibles en el software, corresponden exclusivamente a la Empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos.
</p>
<p>
  En cualquier caso, LEGAL TECHNOLOGIES, S. A. de C. V., se reserva todos los derechos sobre los contenidos, información, datos y servicios que ostente sobre los mismos. LEGAL TECHNOLOGIES, S. A. de C. V., no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en los presentes Términos y Condiciones de Uso o en el Contrato de Licencia de Uso de Software.
  En caso de que se utilice cualquier información contenida en este sitio web para fines diferentes a los autorizados, o simplemente se utilice para fines distintos a los expresamente detallados en los presentes Términos y Condiciones de Uso se considerará esto como una vulneración a los Derechos de Autor y la Empresa ejercerá las acciones legales correspondientes a que haya lugar conforme a la Ley Federal de Derechos de Autor y Ley de Propiedad Industrial.
</p>
 
<h3>6.- Limitaciones de garantía y responsabilidad.</h3>
<p>
  Este apartado establece los límites de responsabilidad de LEGAL TECHNOLOGIES, S. A. de C. V., y de sus sociedades, matriz, filiales, asociadas, sociedades vinculadas, directivos, consejeros, empleados, agentes, representantes, socios y licenciatarios (en adelante, colectivamente, las «Entidades de LEGAL TECHNOLOGIES, S. A. de C. V.,»). El usuario es responsable del uso que haga de los Servicios o del Contenido y del acceso a estos.  Usted entiende y acepta que los Servicios se le proporcionan COMO ESTÁN Y SEGÚN DISPONIBILIDAD.
</p>
<p>
  Intentamos mantener TODOLEGAL en funcionamiento, sin errores y seguro, pero usted lo utiliza bajo su propia responsabilidad. Proporcionamos TODOLEGAL tal cual, sin garantía alguna expresa o implícita, incluidas, entre otras, las garantías de comerciabilidad, adecuación a un fin particular y no incumplimiento. No garantizamos que TODOLEGAL sea siempre seguro o esté libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones.  LEGAL TECHNOLOGIES, S. A. de C. V.,no se responsabiliza de las acciones, el contenido, la información o los datos de terceros, y por la presente usted dispensa a la Empresa, nuestros directivos, empleados y agentes de cualquier demanda o daños, conocidos o desconocidos, derivados de cualquier demanda que tenga interpuesta contra tales, terceros o de algún modo relacionados con esta.
</p>
<p>
Las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., no ofrecen ninguna garantía y excluyen toda responsabilidad con respecto a:
  <ul>
    <li>La integridad, exactitud, disponibilidad, puntualidad, seguridad o fiabilidad de los Servicios o el Contenido,</li>
    <li>Los daños ocasionados en su sistema informático, la pérdida de datos u otros daños que sean consecuencia del uso que usted haga de los Servicios o del Contenido o del acceso a estos, y</li>
    <li>La supresión del Contenido y de otras comunicaciones mantenidas a través de los Servicios o la omisión de guardarlos o transferirlos.</li>
  </ul>
Los consejos o las informaciones, verbales o por escrito, proporcionados por las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., o a través de los Servicios prestados por esta, no crearán ninguna garantía que no se ofrezca de manera expresa en el presente.
En la medida máxima permitida por la legislación aplicable, las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., no serán responsables por los daños indirectos, incidentales, cuantificables, emergentes o punitivos; pérdidas de beneficios o ingresos, directas o indirectas, o pérdidas de datos, uso, fondo de comercio u otras pérdidas intangibles, que sean consecuencia:
  <ul>
    <li>Del uso que usted haga de los Servicios o del acceso a estos por su parte, o de la imposibilidad de utilizar los servicios o acceder a estos,</li>
    <li>De la conducta o el Contenido de terceros en los servicios, incluido, a título enunciativo, toda conducta difamatoria, ofensiva o ilícita de otros usuarios o terceros,</li>
    <li>Del contenido obtenido a través de los Servicios, o</li>
    <li>Del acceso, el uso o la modificación no autorizados de su contenido o de las transferencias que usted efectúe.</li>
  </ul>
</p>
<p>
  Las limitaciones que se establecen en este subapartado se aplican a toda teoría de responsabilidad, sea por garantía, contrato, ley, agravio (incluida negligencia) o según sea el caso, e independientemente de que se haya informado a las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., de la posibilidad de que se produzcan tales daños, incluso en el caso de que un recurso establecido en virtud del presente haya fallado en su propósito esencial.
  En ningún caso la Empresa, LEGAL TECHNOLOGIES, S. A. de C. V., o sus proveedores pueden ser señalados responsables por cualquier daño especial, indirecto o cualquier otro tipo de daño que resulte de la pérdida de información por el uso o negligencia que surja por o en conexión con el uso o desempeño del Software, documentos o alguna falla al proveer los Servicios o información disponible en ellos.
</p>
 
<h3>7.- Legislación aplicable y jurisdicción competente.</h3>
<p>
  En caso de controversia derivada de la interpretación o cumplimiento de los presentes Términos y Condiciones de Uso, de las Políticas de Privacidad o de cualquier otro documento relevante del software, el usuario está de acuerdo en que serán aplicables las Leyes de la Republica de Honduras, renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderle en razón de su domicilio presente o futuro.
</p>