<h2 class="section-title">TERMS AND CONDITIONS OF USE OF TODOLEGAL SOFTWARE</h2>

<h3>1. Introduction.</h3>
<p class="body">
  These Terms and Conditions shall govern your access to and use of the software as a service  (SaaS) TODOLEGAL (hereinafter, the Services or SaaS). TODOLEGAL is a Doing Business As (DBA) or trade name of Glyphtech Codex LLC a Delaware Limited Liability Company (hereinafter, the "Company") and any information, text, graphics, photographs or other materials uploaded or displayed on or downloaded through the Services (hereinafter collectively, the "Content").  The mere access and/or use of the Services and your use of the Services means acceptance of compliance with these Terms of Use. The Company reserves the right to update without prior notice the TODOLEGAL software, so from the moment of acceptance of this document, the user understands and accepts such condition.
</p>

<h3>2. Basic conditions.</h3>
<p class="body pb-2">
  You are responsible for your use of the Services and for the consequences arising from such use or postings. You must respect these Terms and Conditions of Use of the Software at all times. You expressly represent that you will use the software diligently and assume any liability that may arise from non-compliance with the rules
</p>
<p class="body pb-2">
TODOLEGAL and the products and services offered in it are exclusively aimed at professionals, universities, public institutions and companies. Therefore, the current regulations regarding consumers and users will not be applicable in the aforementioned relationship. If you plan to make personal - not professional - use of this website or the products and services offered on it, you must contact us in advance, in order to define the contractual framework that will regulate the relationship between the Company and you.
</p>

<h3>3. Responsibilities of TODOLEGAL.</h3>
<p class="body pb-2">
 The user knows and accepts that the TODOLEGAL website and software does not grant any guarantee of any nature, whether express or implicit, on the data, content, information and services that are incorporated and offered from the website.
</p>
<p class="body pb-2">
 Except in cases where the law expressly dictates otherwise, the company does not guarantee or assume any responsibility for possible damages caused by the use and use of the information, data and services on the website. 
</p>
<p class="body pb-2">
  In any case, the company excludes any liability for damages that may be due to the information and / or services provided or supplied by third parties other than the Company. All responsibility will be of the third party, whether supplier, collaborator or other.
</p>

<h3>4. Obligations of the Users and Conditions of access.</h3>
<p class="body pb-2">
 4.1 The Client is responsible for:
</p>
 <ol type="a">
 <li>Compliance by its Users of these Terms and Conditions.</li>
  
 <li>Use reasonable efforts to prevent the use of the Service by unauthorized persons and notify TODOLEGAL in the event that these occur. The Client accepts that she will use the Service as an end user, without being able to assign its use to other people or different organizations, neither for free nor onerous.
Communication or transfer of access data to other individuals or organizations will constitute a serious breach of this contract. The client will also be responsible for any damages, losses and losses, as well as the costs incurred by reason of the same, including the costs of legal advice.</li>
  
For the purposes of this contract, each unauthorized access to the content, products and services offered on the todolegal.app website, will be considered as contracting said content, products or services by the Client whose username and password are has been used irregularly, so TODOLEGAL will be empowered to invoice and demand payment for these individual purchases in accordance with the current price rates at all times.
  
 <li>Provide complete and truthful contact information, being responsible for updating it. For all purposes, it will be considered that the communications made by TODOLEGAL to the contact information provided by the client have legal validity. In the event that TODOLEGAL cannot contact the Client, for any reason, or that the contact information is not sufficient, the company may temporarily suspend access to the service or product that has been contracted as long as the Client does not update contact details.</li>
</ol>
<p class="body pb-2">
 4.2 Permitted use
</p>
<p class="body pb-2">
  Users may make reasonable use of the content provided for their individual use. In particular, the Client and its Users may use the Contents included in the Services to:
<ul> 
    <li>Electronic display of content.</li>
    <li>Printing or digital copying of non-substantial parts of the contents for professional use.</li>
    <li>The creation of Support Materials for Training Courses.</li>
    <li>Sending to third parties of minimal, not substantial portions.</li>
</ul>
</p>
<p class="body pb-2">
  4.3 Unauthorized use
</p>
<p class="body pb-2">
With the exception provided in the previous clause, the Client and its Users may not copy, duplicate, reproduce, sell, resell, translate, republish, web scrape, transmit any part of this website or its Content, whether for commercial or non-commercial use. The Client may not sublicense, reuse, decompile, rent, sell, reverse engineer, or create derivative works from this website or its Content. The Client may not use framing techniques or any other to hide the brand, logo or other portions of the website, without the prior written authorization of TODOLEGAL.
</p>
<p class="body pb-2">
Abusive use and the downloading, copying or reuse of all or a substantial part of any content is expressly prohibited, whatever the final use that is to be made of it. Without prejudice to the right to claim damages, downloads in breach of said prohibition will be considered individual purchases of documents, in accordance with the TODOLEGAL price rates in force at all times.
</p>
<p class="body pb-2">
 The Client may not use automated software or manual process to copy or monitor the TODOLEGAL service and / or its content without the prior written authorization of the latter. The Client may not manipulate or use the content of the software and website todolegal.app owned by TODOLEGAL., To create publications and / or services of any kind and, especially, of those that may be comparable or that compete in any way with the Services and / or Content that this company offers now or may offer in the future. The inclusion of TODOLEGAL content in any database, of any type, regardless of its format or whether they are public or private, paid or free, is expressly prohibited.
</p>
<p class="body pb-2">
The Client and User may not enter or process personal data in the Service. For all purposes, the user will be solely responsible for the breach of this prohibition.
</p>

<h3>5. Billing and Cancelation.</h3>
<p class="body pb-2">
 5.1. Billing Cycle. The membership fee for the Service and any other charges you may incur in connection with your use of the service, such as taxes and possible transaction fees, will be charged to your Payment Method on the specific billing date indicated on your "Account" page. The length of your billing cycle will depend on the type of subscription that you choose when you sign-up for the service. In some cases your payment date may change, for example if your Payment Method has not successfully settled or if your paid membership began on a day not contained in a given month. Visit our website and click on the "Billing details" link on the "Account" page to see your next payment date. We may authorize your Payment Method in anticipation of membership or service-related charges through various methods, including authorizing it for up to approximately one month of service as soon as you register. In some instances, your available balance or credit limit may be reduced to reflect the authorization during your free trial period.
  </p>
<p class="body pb-2">
 5.2. Payment Methods. To use the Service you must provide one or more Payment Methods. You authorize us to charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your Payment Method. Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service provider for details.
</p>
<p class="body pb-2">
 5.3. Updating your Payment Methods. You can update your Payment Methods by going to the "Account" page. We may also update your Payment Methods using information provided by the payment service providers. Following any update, you authorize us to continue to charge the applicable Payment Method(s).
</p>
<p class="body pb-2">
 5.4. Cancellation. You can cancel your TODOLEGAL membership at any time, and you will continue to have access to the Service through the end of your billing period. To the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial membership periods. To cancel, go to the "Account" page and follow the instructions for cancellation. If you cancel your membership, your account will automatically close at the end of your current billing period. To see when your account will close, click "Billing details" on the "Account" page. If you signed up for the Service using your account with a third party as a Payment Method and wish to cancel your membership, you may need to do so through such third party, for example by visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from the Service through that third party. You may also find billing information about your membership by visiting your account with the applicable third party.
</p>
<p class="body pb-2">
  5.5. Changes to the Price and Subscription Plans. We may change our subscription plans and the price of our service from time to time; however, any price changes or changes to your subscription plans will apply no earlier than 30 days following notice to you.
</p>

<h3>6. Copyright.</h3>
<p class="body pb-2">
 The Software is made available for use exclusively by users. Any reproduction or redistribution of the Software is expressly prohibited by law and is considered a criminal offense. Any violation of copyright as well as of these Terms and Conditions will be prosecuted as a crime before the competent authorities. Without limitation by the foregoing, its total or partial reproduction to any other server or location for its subsequent reproduction or redistribution, its translation, inclusion, transmission, storage or access through analog, digital or any other system or media is expressly prohibited. technology created, unless expressly permitted by the license agreement that accompanies such software. All content, trademarks, logos, drawings, documentation, computer programs or any other element susceptible to protection by the legislation of Copyright or Industrial Property, that are accessible in the software, correspond exclusively to the Company or its legitimate owners and remain All rights over them are expressly reserved. In any case, TODOLEGAL, reserves all rights over the content, information, data and services that it holds over them. TODOLEGAL does not grant any license or authorization of use to the user on its contents, data or services, other than the one expressly detailed in these Terms and Conditions of Use or in the Software Use License Agreement. In the event that any information contained in this website is used for purposes other than those authorized, or is simply used for purposes other than those expressly detailed in these Terms and Conditions of Use, this will be considered as an infringement of Copyright and the Company will exercise the corresponding legal actions in accordance with the Federal Copyright Law and Industrial Property Law.
</p>

<h3>7. Limitations of Warranty and Liability.</h3>
<p class="body pb-2">
  This section establishes the limits of liability of TODOLEGAL, and its companies, parent companies, subsidiaries, associates, related companies, directors, directors, employees, agents, representatives, partners and licensees (hereinafter, collectively, the "TODOLEGAL Entities," ). The user is responsible for the use they make of the Services or the Content and the access to them. You understand and agree that the Services are provided to you AS IS AND AS AVAILABLE. We try to keep TODOLEGAL up and running, error-free and secure, but you use it at your own risk. We provide TODOLEGAL as is, without any express or implied warranty, including, but not limited to, the warranties of merchantability, fitness for a particular purpose, and non-default. We do not guarantee that TODOLEGAL will always be secure or error-free, or that it will always operate without interruptions, delays, or imperfections. TODOLEGAL is not responsible for the actions, content, information or data of third parties, and you hereby release the Company, our directors, employees and agents from any claim or damage, known or unknown, arising from any claim that has filed against such, third parties or in any way related to it. The Entities of TODOLEGAL, do not offer any guarantee and exclude all responsibility with respect to:
  <ul>
    <li>The integrity, accuracy, availability, punctuality, security or reliability of the Services or the Content,</li>
    <li>Damage caused to your computer system, loss of data or other damages resulting from your use of or access to the Services or the Content,</li>
    <li>The deletion of the Content and other communications maintained through the Services or the failure to save or transfer them. The advice or information, verbal or in writing, provided by the Entities of TODOLEGAL, or through the Services provided by it, will not create any guarantee that is not expressly offered here. To the maximum extent permitted by applicable legislation, the Entities of TODOLEGAL will not be responsible for indirect, incidental, quantifiable, consequential or punitive damages; loss of profits or income, direct or indirect, or loss of data, use, goodwill or other intangible losses, which are a consequence of:</li>
    <li>Your use of the Services or your access to them, or of the impossibility of using or accessing the services,</li>
    <li>Of the conduct or Content of third parties in the services, including, but not limited to, any defamatory, offensive or illegal conduct of other users or third parties,</li>
    <li>Of the content obtained through the Services, or</li>
    <li>Unauthorized access, use or modification of its content or transfers that you make. The limitations established in this subsection apply to any theory of liability, whether by guarantee, contract, law, tort (including negligence) or as the case may be, and regardless of whether the Entities of TODOLEGAL have been informed of the possibility of such harm, even if a remedy established hereunder has failed of its essential purpose. In no case can the Company, TODOLEGAL, or its suppliers be held liable for any special, indirect or any other type of damage resulting from the loss of information due to the use or negligence that arises from or in connection with the use or performance of the Software, documents or any failure to provide the Services or information available in them.</li>
  </ul>
</p>

<h3>8. No legal advice.</h3>
<p class="body pb-2">
  In no case may TODOLEGAL be considered to be offering legal or business advice, or that there is a client-lawyer relationship or that some information provided by the Client to TODOLEGAL, is protected by Professional Secrecy.
</p>
<p class="body pb-2">
TODOLEGAL, and third-party content providers, do not offer guarantees, either express or implicit, with respect to the Service and its Contents, their quality or suitability for specific purposes, their accuracy, updating or completeness. On occasions TODOLEGAL can provide a translation of certain documents. The Client knows that said Translation is merely informative and is indicated for the sole purpose of knowing the general meaning of the translated document. The Client is responsible for requesting a professional translation from a Third Party.
</p>
<p class="body pb-2">
If the client is a lawyer, he or she accepts that in some countries and jurisdictions the Rules of Professional Conduct may be applicable in relation to their use of this website and its Contents. In jurisdictions where common law is applicable, the Client expressly agrees that it will be her sole responsibility to ensure that a particular case remains applicable. The Client assumes that all documents included in the Service are included for guidance purposes only and that any decision made based on them is made at the client's risk and expense.
</p>

<h3>9. Applicable law and competent jurisdiction.</h3>
<p class="body pb-2">
 In the event of a dispute arising out of the interpretation or compliance with these Terms of Use, the Privacy Policies or any other relevant document of the software, the user agrees that the Laws of the State of Delaware will apply, expressly waiving any other jurisdiction or jurisdiction that may correspond to him because of his/her present or future domicile.
</p>

<h3>10. Contact</h3>
<p class="body pb-2"><a href="mailto:info@todolegal.app">info@todolegal.app</a><br>
  <a href="tel:+1 302 918-5516">+1 302 918-5516</a><br>
  Glyphtech Codex LLC DBA TODOLEGAL LLC<br>
  16192 Coastal Highway<br>
  Lewes, Delaware 19958 U.S.<br>
  </p>
<p class="body pb-2">
  Effective as of August 9, 2020.
</p>
