<div class="jumbotron">
  <img src="img/logo_landing.png" height="300">
  <p class="lead">Lorem ipsum.</p>
</div>

<div class="container">

  <%= render 'search_law_input' %>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-4 py-2">
        <div class="card card-body h-100" >
          <h5 class="card-title"><%= tag.name %></h5>
          <%= link_to 'Ver ' + tag.laws.count.to_s + ' leyes', tag, class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= Law.count %> leyes en total</p>

</div>
