<section>
  <a href="/">
    <img  src="/img/Icon-Todolegal-gray20px.svg" alt="Card image cap" class="img-fluid">
  </a>
  <div class="container">
    <div class="card bg-white rounded">
      <div class="card-body">
          <section class="temporal"> Invita a tus colegas </section>
          <h5> Enviar invitación a </h5>
          <form action="/refer" method="get">
            <div id="formGroup">
              <div class="form-group">
                  <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com">
              </div>
              <div class="form-group" id="inputElement">
                <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="nombre@ejemplo.com">
              </div>  
              <input type="hidden" id="custId" name="emails" value=>
            </div>
            <!-- button to add another field
            <div class="form-group">
                  <button type="button" class="btn btn-outline-primary" id="plusButton" onclick="cloneElement()"><i class="fas fa-plus"></i></button>
                  <button type="button" class="btn btn-outline-danger" id="plusButton" onclick="removeElement()"><i class="far fa-trash-alt"></i></button>
            </div>
            -->
            <div class="form-group">
              <button type="submit" id="submitBtn" class="btn btn-block btn-primary" onclick="sendParameters()">Enviar</button>
              <%if !user_signed_in? %>
                <a href="/" id= "omitirPaso" class="text-center">Omitir este paso</a>
              <% end %>
            </div>
          </form>
      </div>
    </div>
  </div>
</section>

<script>
  function sendParameters(){
      var param1 = document.getElementById("email1").value;
      var param2 = document.getElementById("email2").value;
      var params = param1 + ',' + param2;
      document.getElementById("custId").value = params;
  }

  function cloneElement(){
    var inputForm =document.getElementById("inputElement");
    var cln = inputForm.cloneNode(true);
    document.getElementById("formGroup").appendChild(cln);
  }

  function removeElement(){
    var x = document.getElementById("formGroup").childElementCount;
    if(x > 2){
      var inputForm = document.getElementById("formGroup").lastChild;
      inputForm.remove();
    }
  }
</script>

<style>
  
  h5{
    font-family: -apple-system, sans-serif;
    margin-bottom: 5%;
  }

  .form-control{
    background: #EFF3F8;
    font-family: -apple-system, sans-serif;
  }

  .btn{
    border-radius: 8px;
    margin-top: 7%; 
  }

  #omitirPaso{
    display:block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #1A7FFA;
    margin-top: 5%;
  }

  h5{
    font-weight: bold;
  }

  .temporal{
    background: #171F2A;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 28px;
    font-weight: bold;
  }

  section{
    background: #EFF3F8;
  }

  .card{
    width: 75%;
    margin-left: 12.5%;
    padding: 1rem;
  }

  .img-fluid{
    width: 130px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #plusButton{
    margin-top: 0%;
  }

  @media only screen and (max-width: 767.98px){
    .card{
      width:100%;
      margin-left: 0%;
      padding: 0;
      border: none;
    }
    .card-body{
      padding: 0%;
    }

    section{
      background: white;
    }
    .form-control{
      background-color: #EFF3F8;
    }

    .img-fluid{
      width: 70px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 4%;
      margin-bottom: 4%;
    }
  }
</style>