
<div class="container piil-home"> 
    <section class="documents-upload">
        <h2 class="upload-title"> Subir Documento </h2>
        <div class="row">
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Gaceta Completa</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Decreto</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Acuerdo</button>
        </div>
        <div class="row row-2">
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Marcas de Fabrica</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Sentencias</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Avisos Legales</button>
        </div>
    </section>

    <section class="other-actions">
        <h2 class="other-actions-title"> Otras Acciones </h2>
        <div class="row">
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Iniciar Verificador</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Editor</button>
            <button type="button" class="btn btn-outline-primary btn-lg option-btn">Lista de verificación</button>
        </div>
    </section>

</div>


<style>

    .piil-home{
        margin-top: 5%;
    }

    .upload-title{
        margin-bottom: 30px;
    }

    .option-btn{
        margin-right: 8px;
    }


    .other-actions-title{
        margin-top: 70px;
    }

    .row-2{
        margin-top: 20px;
    }
</style>