<!-- This snippet uses Font Awesome 5 Free as a dependency. You can download it at fontawesome.io! -->

<style>
    section.pricing {
        background: #EFF3F8;
    }

    .pricing .card {
        border: none;
        border-radius: 1rem;
        transition: all 0.2s;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .pricing hr {
        margin: 1.5rem 0;
    }

    .pricing .card-title {
        margin: 0.5rem 0;
        font-size: 0.9rem;
        letter-spacing: .1rem;
        font-weight: bold;
    }

    .pricing .card-price {
        font-size: 3rem;
        margin: 0;
    }

    .pricing .card-price .period {
        font-size: 0.8rem;
    }

    .pricing ul li {
        margin-bottom: 1rem;
    }

    .pricing .text-muted {
        opacity: 0.7;
    }

    .pricing .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        opacity: 0.7;
        transition: all 0.2s;
    }

/* Hover Effects on Card */

    @media (min-width: 992px) {
    .pricing .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
        opacity: 1;
    }
}

</style>


<section class="pricing py-5">
  <h2 class="text-center" style="font-weight: bold;margin-bottom: 3%;">¡Tu cuenta ha sido creada!</h3>
  <div class="container">
    <h4 style="font-weight: bold;margin-bottom: 3%;">Elige un plan</h4>
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Básico</h5>
            <h6 class="card-price text-center">Grátis</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a 30 leyes, normas, etc.</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Buscador de palabras clave, por materia, ley o normas específicas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Servicio al cliente básico</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Algo más</li>
              <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Algo más</li>
            </ul>
            <%= button_to "Continuar con Plan Básico", invite_colleagues_path, method: :get, remote: true, class:"btn btn-block btn-primary text-uppercase" %>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
            <h6 class="card-price text-center">L350<span class="period">/mes</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso <strong>ilimitado</strong> a más de 150 leyes, normas, etc.</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Buscador de palabras clave, por materia, ley o normas específicas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Servicio al cliente <strong>24/7</strong></li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Algo más</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Algo más</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Elegir Plan Pro</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>