<% content_for :title, "Privacidad - TodoLegal" %>

<script>
function toggleMenu() {
  $(".DIV1").toggleClass("d-none");
  $(".DIV2").toggleClass("d-block");
  $(".DIV1").toggleClass("d-block");
  $(".DIV2").toggleClass("d-none");
}
</script>

<div class="container container--privacy">
  <div class="d-none DIV1">
    <button class="btn btn-outline-primary" type="button" onClick="toggleMenu()">
      ES
    </button>
    <%= render '/home/privacy_english' %>
  </div>
  <div class="d-block DIV2">
    <button class="btn btn-outline-primary" type="button" onClick="toggleMenu()">
      EN
    </button>
    <%= render '/home/privacy_spanish' %>
  </div>
</div>