<% content_for :title, "Términos - TodoLegal" %>

<script>
function toggleMenu() {
  $(".DIV1").toggleClass("d-none");
  $(".DIV2").toggleClass("d-block");
  $(".DIV1").toggleClass("d-block");
  $(".DIV2").toggleClass("d-none");
}
</script>

<div class="container container--terms">
  <div class="d-none DIV1">
    <button class="btn btn-outline-primary" type="button" onClick="toggleMenu()">
      ES
    </button>
    <p style="font-size: 27px">TERMS AND CONDITIONS OF USE OF TODOLEGAL SOFTWARE</p>
    <h3>1. Introduction.</h3>
    <p class="body">
      These Terms and Conditions shall govern your access to and use of the software as a service  (SaaS) TODOLEGAL (hereinafter, the Services or SaaS). TODOLEGAL is a Doing Business As (DBA) or trade name of Glyphtech Codex LLC a Delaware Limited Liability Company (hereinafter, the "Company") and any information, text, graphics, photographs or other materials uploaded or displayed on or downloaded through the Services (hereinafter collectively, the "Content").  The mere access and/or use of the Services and your use of the Services means acceptance of compliance with these Terms of Use. The Company reserves the right to update without prior notice the TODOLEGAL software, so from the moment of acceptance of this document, the user understands and accepts such condition
    </p>

    <h3>2. Basic conditions.</h3>
    <p class="body pb-2">
      You are responsible for your use of the Services and for the consequences arising from such use or postings. You must respect these Terms and Conditions of Use of the Software at all times. You expressly represent that you will use the software diligently and assume any liability that may arise from non-compliance with the rules.
    </p>

    <h3>3. Conditions of use of the website.</h3>
    <p class="body pb-2">
      The Services may contain email services, chat areas, group news, forums, communities, calendars, photographs, file files and/or other messages or communications designed for communication with third parties (Communication Services). You agree to use these services only to send, post and receive messages and materials that do not contravene the legal provisions. Users undertake to make good use of the website and its contents, respecting the current national regulations, good customs and public order, committing at all times not to cause damage to TODOLEGAL or any third party. For this purpose, the user shall refrain from using any of the services for illicit purposes or effects, prohibited in these Terms and Conditions, harmful to the rights and interests of third parties, or that in any way may damage, disable, overload, deteriorate or impede the normal use of the services, operation of any program, documents and all kinds of content on and from any computer or telecommunications equipment. The Services may not be used in any way that could cause damage, disable or saturate any of the  uses of the Company, the network(s) connected to any of the Company’s server, or interfere with the use and enjoyment of the Services in favor of another user. You must not attempt to have unauthorized access to the Services, another account, systems, or networks connected to any of the Company’s server or the Services through the theft or breach of data or programs. You are responsible for the material you post yourself, so you must comply with the Laws and Regulations that apply to Industrial and Intellectual Property. You will release in peace and safe legal to the Company and TodoLegal of any claim, complaint and / or claim that is filed against you for the publication of the material for which You are responsible. The Services are provided for the exclusive and specific use embodied in the Software Use License Agreement; Users are not authorized to modify, copy,  distribute, transmit, communicate, perform, reproduce, publish, license, create derivative works from, transfer or sell any information, software, product or service obtained or derived from the Services.
    </p>

    <h3>4. Billing and Cancelation.</h3>
    <p class="body pb-2">
      4.1. Billing Cycle. The membership fee for the Service and any other charges you may incur in connection with your use of the service, such as taxes and possible transaction fees, will be charged to your Payment Method on the specific billing date indicated on your "Account" page. The length of your billing cycle will depend on the type of subscription that you choose when you sign-up for the service. In some cases your payment date may change, for example if your Payment Method has not successfully settled or if your paid membership began on a day not contained in a given month. Visit our website and click on the "Billing details" link on the "Account" page to see your next payment date. We may authorize your Payment Method in anticipation of membership or service-related charges through various methods, including authorizing it for up to approximately one month of service as soon as you register. In some instances, your available balance or credit limit may be reduced to reflect the authorization during your free trial period.
    </p>
    <p class="body pb-2">
      4.2. Payment Methods. To use the Service you must provide one or more Payment Methods. You authorize us to charge any Payment Method associated to your account in case your primary Payment Method is declined or no longer available to us for payment of your subscription fee. You remain responsible for any uncollected amounts. If a payment is not successfully settled, due to expiration, insufficient funds, or otherwise, and you do not cancel your account, we may suspend your access to the service until we have successfully charged a valid Payment Method. For some Payment Methods, the issuer may charge you certain fees, such as foreign transaction fees or other fees relating to the processing of your Payment Method. Local tax charges may vary depending on the Payment Method used. Check with your Payment Method service provider for details.
    </p>
    <p class="body pb-2">
      4.3. Updating your Payment Methods. You can update your Payment Methods by going to the "Account" page. We may also update your Payment Methods using information provided by the payment service providers. Following any update, you authorize us to continue to charge the applicable Payment Method(s).
    </p>
    <p class="body pb-2">
      4.4. Cancellation. You can cancel your TODOLEGAL membership at any time, and you will continue to have access to the Service through the end of your billing period. To the extent permitted by the applicable law, payments are non-refundable and we do not provide refunds or credits for any partial membership periods. To cancel, go to the "Account" page and follow the instructions for cancellation. If you cancel your membership, your account will automatically close at the end of your current billing period. To see when your account will close, click "Billing details" on the "Account" page. If you signed up for the Service using your account with a third party as a Payment Method and wish to cancel your membership, you may need to do so through such third party, for example by visiting your account with the applicable third party and turning off auto-renew, or unsubscribing from the Service through that third party. You may also find billing information about your membership by visiting your account with the applicable third party.
    </p>
    <p class="body pb-2">
      4.5. Changes to the Price and Subscription Plans. We may change our subscription plans and the price of our service from time to time; however, any price changes or changes to your subscription plans will apply no earlier than 30 days following notice to you.
    </p>

    <h3>5. User Obligations and Conditions of Access.</h3>
    <p class="body pb-2">
      You may only access and use the Services for legitimate purposes.  You are solely responsible for the knowledge and compliance with laws, regulations and regulations relating to the use of the Service.  You agree not to:
      <ul>
        <li>Use the Services or encourage conduct that may constitute the commission of a crime or give rise to civil liability, or otherwise violate any local, state, federal or international laws or regulations, including but not limited to;</li>
        <li>Upload, post, email or otherwise transfer content that is illegal, threatening, defamatory, hostile, vulgar, obscene, pornographic, profane, that invades another person's privacy or promotes hatred or xenophobia or that is objectionable for any reason;</li>
        <li>Upload, post, email or otherwise transfer content for which you do not have the broadcast rights;</li>
        <li>Upload, post, email or otherwise transmit content that infringes patents, trademarks, trade secrets, copyrights or other proprietary rights of third parties;</li>
        <li>Modify, damage or delete content or other communications that you do not own, or interfere with the ability of others to access or use the Services;</li>
        <li>Upload, post, email or otherwise transmit advertising, promotional materials or other ways of addressing other users who are not authorized, including but not limited to "notifications", "messages", "spam", "spam" or "chain messages";</li>
        <li>Interfere with or disrupt the Services, servers or networks connected to the Services or disobey the requirements, procedures, policies or regulations of networks connected to the Services, as well as adapt or otherwise modify, create a derivative or decompiled product, reverse engineer or otherwise attempt to obtain the source code of the Services (or a portion thereto);</li>
        <li>Reproduce, duplicate, copy, use, distribute, sell, resell or exploit in any way and for commercial purposes parts of TODOLEGAL or its services;</li>
        <li>Collect or store personal information about other users without their consent. We reserve the right to suppress or refuse the distribution of Content on the Services and to suspend or cancel users without liability to you, but we shall have no obligation to do so.  We also reserve the right to access, read, preserve and disclose all information we deem necessary to:</li>
          <li>Comply with applicable laws or regulations or respond to requests relating to judicial or governmental procedures;</li>
          <li>Enforce the conditions, including investigation of possible violations thereon;</li>
          <li>Detect, prevent or, as the case may be, address fraud, security or technical issues;</li>
          <li>Protect the rights, property or safety of TODOLEGAL, users and third parties.</li>
      </ul>
    </p>
    
    <h3>6. Copyright.</h3>
    <p class="body pb-2">
      The Software is made available for use only to users. Any reproduction or redistribution of the Software expressly prohibited by law and is considered a criminal offense under criminal terms. Any violation of copyright and these Terms and Conditions shall be prosecuted as a crime before the competent authorities. Without limitation, its reproduction in whole or in part to any other server or location for subsequent reproduction or redistribution, its translation, inclusion, transmission, storage or access through analogue, digital or any other system or technology created, is expressly prohibited, unless  expressly permitted by the license agreement accompanying such software. All content, trademarks, logos, drawings, documentation, software or any other element eligible for protection by copyright or industrial property legislation, which are accessible in the software, correspond exclusively to the Company or its legitimate owners and all rights in them are expressly reserved. In any case, the Company, reserves all rights to the contents, information, data and services held about them. The Company, does not grant any license or authorization to use the user on its contents, data or services, other than that expressly detailed in these Terms and Conditions of Use or in the Software Use License Agreement. In the event that any information contained on this website is used for purposes other than those authorized, or simply used for purposes other than those expressly detailed in these Terms and Conditions of Use this shall be deemed to be a violation of copyright and the Company shall exercise the corresponding legal actions under the Federal Copyright Law and Industrial Property Law.
    </p>
    
    <h3>7. Limitations of Warranty and Liability.</h3>
    <p class="body pb-2">
      This section sets the limits of liability of the Company, and its companies, parent, subsidiaries, affiliates, affiliated companies, directors, employees, agents, representatives, partners and licensees (collectively, the "Entities of GLYPHTECH CODEX LLC”). You are responsible for your use of and access to the Services or Content.  You understand and agree that the Services are provided to you AS IS AND AS AVAILABLE. We try to keep TODOLEGAL running, error-free and safe, but you use it at your own risk. We provide TODOLEGAL as is, without any express or implied warranty, including but not limited to warranties of merchantability, fitness for a particular purpose and non-infringement. We do not guarantee that TODOLEGAL is always safe or error-free, or that it will always work without interruptions, delays or imperfections.  The Company, is not responsible for the actions, content, information or data of third parties, and you hereby waive the Company, our officers, employees and agents of any claim or damages, known or unknown, arising out of any claims you have brought against such, third parties or in any way related to it. The Entities of the Company, make no warranties and exclude all liability with respect to:
        <ul>
          <li>The completeness, accuracy, availability, timeliness, security or reliability of the Services or Content,</li>
          <li>Damages caused to your computer system, loss of data or other damages resulting from your use of or access to the Services or access to the Services, and</li>
          <li>Suppression of Content and other communications maintained through the Services or failure to store or transfer them. Advice or information, verbal or written, provided by the Entities of the Company, or through the Services provided by it, will not create any guarantee that is not expressly offered herein. To the maximum extent permitted by applicable law, the Entities of the Company, shall not be liable for indirect, incidental, quantifiable, consequential or punitive damages; loss of profits or income, direct or indirect, or loss of data, use, goodwill or other intangible losses, resulting from:</li>
          <li>Your use of or access to the Services by you, or the inability to use or access the Services,</li>
          <li>From the conduct or Content of third parties in the Services, including, but not limited to, any defamatory, offensive or unlawful conduct of other users or third parties,</li>
          <li>The content obtained through the Services, or</li>
          <li>From unauthorized access, use or modification of your content or transfers. The limitations set forth in this sub-paragraph apply to any theory of liability, whether by warranty, contract, law, tort (including negligence) or as the case may be, and regardless of whether the Entities of the Company have been informed of the possibility of such damages, even if a remedy established hereunder has failed in its essential purpose. In no event may the Company, or its suppliers be held liable for any special, indirect or other damage resulting from the loss of information due to the use or negligence arising out of or in connection with the use or performance of the Software, documents or any failure to provide the Services or information available therein.</li>
        </ul>
    </p>
    
    <h3>8. Applicable law and competent jurisdiction.</h3>
    <p class="body pb-2">
      In the event of a dispute arising out of the interpretation or compliance with these Terms of Use, the Privacy Policies or any other relevant document of the software, the user agrees that the Laws of the State of Delaware will apply, expressly waiving any other jurisdiction or jurisdiction that may correspond to him because of his/her present or future domicile.
    </p>

    <h3>9. Contact</h3>
    <p class="body pb-2">info@todolegal.app<br>
    +1 302 918-5516<br>
    Glyphtech Codex LLC DBA TODOLEGAL LLC<br>
    16192 Coastal Highway<br>
    Lewes, Delaware 19958 U.S.<br>
    Effective as of August 9, 2020.</p>
  </div>
  <div class="d-block DIV2">
    <button class="btn btn-outline-primary" type="button" onClick="toggleMenu()">
      EN
    </button>
    <p style="font-size: 27px">TERMINOS Y CONDICIONES DE USO DEL SOFTWARE TODOLEGAL</p>
    <h3>1. Introducción.</h3>
    <p>
      Los presentes Términos y Condiciones regirán el acceso y el uso del producto de software y de los servicios de <b>TODOLEGAL</b> (en adelante, los «<b>Servicios</b>»), propiedad de <b>Legal Technologies, S. A. de C. V.</b> (en adelante, la «<b>Empresa</b>») así como toda información, texto, gráficos, fotografías u otros materiales que se carguen o se muestren en los Servicios o se descarguen a través de estos (en adelante, colectivamente, el «<b>Contenido</b>»).  El mero acceso y/o utilización a los Servicios y el uso que usted haga de estos significa una aceptación del cumplimiento de los presentes Términos y Condiciones de Uso.
      <b>Legal Technologies, S. A. de C. V.</b> se reserva el derecho de actualizar sin previo aviso el software TODOLEGAL, por lo que desde el momento de la aceptacion del presente documento, el usuario entiende y acepta dicha condicion
    </p>
     
    <h3>2. Condiciones básicas.</h3>
    <p>
      El usuario es responsable del uso que haga de los Servicios y de las consecuencias que se deriven de dicho uso o publicaciones.  .
      El usuario deberá respetar en todo momento los presentes Términos y Condiciones de Uso del Software. De forma expresa el usuario manifiesta que utilizará el software de forma diligente y asumiendo cualquier tipo de responsabilidad que pudiera derivarse del incumplimiento de las normas.
    </p>
     
    <h3>3.- Condiciones de utilización del sitio web.</h3>
    <p>
      Los Servicios pueden contener servicios de correo electrónico, áreas de chat, noticias de grupo, foros, comunidades, calendarios, fotografías, archivo de expedientes y/o otros mensajes o comunicaciones diseñadas para la comunicación con terceros (<b>Servicios de Comunicación</b>). Usted acepta utilizar estos servicios únicamente para enviar, publicar y recibir mensajes y materiales que no contravienen las disposiciones legales.
      Los Usuarios se obligan a hacer buen uso del sitio web y de sus contenidos, respetando la normativa nacional vigente de la Republica de Honduras, las buenas costumbres y el orden público, comprometiéndose en todo momento a no causar daños a <b>TODOLEGAL</b> ni a ningún tercero. A tal efecto, el usuario se abstendrá de utilizar cualquiera de los servicios con fines o efectos ilícitos, prohibidos en los presentes Términos y Condiciones, lesivos de los derechos e intereses de terceros, o que de cualquier forma puedan dañar, inutilizar, sobrecargar, deteriorar o impedir la normal utilización de los servicios, funcionamiento de cualquier programa, documentos y toda clase de contenidos en y desde cualquier equipo informático o de telecomunicaciones.
      Los Servicios no podrán usarse de ninguna manera tal que pudiera causar daño, deshabilitar o saturar cualquiera de los empledo de LEGAL TECHNOLOGIES, S. A., la(s) red(es) conectada(s) a cualquier servidor de Legal Techonoloies,, S. A. o interferir con el uso y goce de los Servicios a favor de otro usuario. El usuario no debe intentar tener acceso no autorizado a los Servicios, a otra cuenta, sistemas o redes conectadas a algún servidor de LEGAL TECHNOLOGIES, S. A. de C. V. o a los Servicios a través del robo o violación de datos o programas.
    </p>
    <p>
      Usted es responsable del material que usted mismo publique, por lo que deberá cumplir con las Leyes y reglamentos que en materia de Propiedad Industrial e Intelectual apliquen. Usted sacará en paz y a salvo a LEGAL TECHNOLOGIES, S. A. de C. V. y TodoLegal de cualquier demanda, denuncia y/o reclamación que se presente en su contra por la publicación del material del que Usted es responsable.
    </p>
    <p>
      Los Servicios se proporcionan para el uso exclusivo y específico plasmado en el Contrato de Licencia de Uso de Software; los usuarios no están autorizados a modificar, copiar, distribuir, transmitir, comunicar, ejecutar, reproducir, publicar, licenciar, crear obras derivadas de, transferir o vender ninguna información, software, producto o servicio obtenido o que se desprenda de los Servicios.
    </p>
     
    <h3>4.- Obligaciones de los Usuarios y Condiciones de acceso.</h3>
    <p>
      Solo puede tener acceso a los Servicios y utilizarlos con propósitos legítimos.  El usuario es el único responsable del conocimiento y cumplimiento de las leyes, normativas y reglamentos relativos al uso del Servicio.  El usuario se compromete a no:
        <ul>
          <li>Utilizar los Servicios o alentar conductas que puedan constituir la comisión de un delito o dar lugar a responsabilidad civil, o de otro modo incumplir cualquier legislación o normativa local, estatal, federal o internacional, incluido, a título enunciativo;</li>
          <li>Subir, publicar, enviar por correo electrónico o transferir por otros medios contenido que sea ilegal, amenazante, difamatorio, hostil, vulgar, obsceno, pornográfico, profano, que invada la privacidad de otra persona o promueva el odio o la xenofobia o que sea censurable por el motivo que fuere;</li>
          <li>Subir, publicar, enviar por correo electrónico o transferir por otros medios contenido para el que no tenga los derechos de transmisión;</li>
          <li>Subir, publicar, enviar por correo electrónico o transmitir por otros medios contenido que infrinja patentes, marcas registradas, secretos comerciales, derechos de autor u otros derecho de propiedad de terceros;</li>
          <li>Modificar, dañar o eliminar contenido u otras comunicaciones que no sean de su propiedad, o bien interferir en la capacidad de otros a acceder a los Servicios o utilizarlos;</li>
          <li>Subir, publicar, enviar por correo electrónico o transmitir por otros medios publicidad, materiales promocionales u otras formas de abordar a los demás usuarios que no estén autorizadas, incluido, a título enunciativo, «notificaciones», «mensajes», «correo basura», «spam» o «mensajes en cadena»;</li>
          <li>Interferir o interrumpir los Servicios, los servidores o las redes conectadas a los Servicios o desobedecer los requisitos, procedimientos, políticas o reglamentos de las redes conectadas a los Servicios, así como adaptar o de otro modo modificar, crear un producto derivado o descompilar, aplicar ingeniería inversa o de otro modo intentar obtener el código fuente de los Servicios (o de una parte de estos);</li>
          <li>Reproducir, duplicar, copiar, usar, distribuir, vender, revender o explotar de la forma que fuere y con fines comerciales partes de TODOLEGAL o sus servicios;</li>
          <li>Recopilar o almacenar información personal sobre otros usuarios sin su consentimiento.</li>
      Nos reservamos el derecho a suprimir o rechazar la distribución del Contenido en los Servicios y de suspender o cancelar usuarios sin responsabilidad alguna para con usted, pero no tendremos la obligación de hacerlo.  Asimismo, nos reservamos el derecho a accesar, leer, preservar y revelar toda la información que consideremos necesaria para:
          <li>Cumplir con las leyes o reglamentos aplicables o atender a las solicitudes relativas a procedimientos judiciales o gubernamentales;</li>
          <li>Hacer valer las condiciones, incluida la investigación de posibles violaciones de estas;</li>
          <li>Detectar, prevenir o, según sea el caso, abordar problemas de fraude, de seguridad o técnicos;</li>
          <li>Proteger los derechos, la propiedad o la seguridad de TODOLEGAL, los usuarios y terceros.</li>
        </ul>
    </p>
     
    <h3>5.- Derechos de Autor.</h3>
    <p>
      El Software se pone a disposición para su uso exclusivamente para los usuarios. Cualquier reproducción o redistribución del Software expresamente prohibido por la Ley y es considerado como delito en los términos penales. Cualquier violación a los derechos autorales así como de los presentes Términos y Condiciones se perseguirá como delito ante las autoridades competentes. Sin limitación por lo anterior, queda expresamente prohibida su reproducción total o parcial a cualquier otro servidor o locación para su posterior reproducción o redistribución, su traducción, inclusión, transmisión, almacenamiento o acceso a través de medios analógicos, digitales o de cualquier otro sistema o tecnología creada, a menos que esté expresamente permitido por el contrato de licencia que acompañe dicho software.
      Todos los contenidos, marcas, logos, dibujos, documentación, programas informáticos o cualquier otro elemento susceptible de protección por la legislación de Derechos de Autor o Propiedad Industrial, que sean accesibles en el software, corresponden exclusivamente a la Empresa o a sus legítimos titulares y quedan expresamente reservados todos los derechos sobre los mismos.
    </p>
    <p>
      En cualquier caso, LEGAL TECHNOLOGIES, S. A. de C. V., se reserva todos los derechos sobre los contenidos, información, datos y servicios que ostente sobre los mismos. LEGAL TECHNOLOGIES, S. A. de C. V., no concede ninguna licencia o autorización de uso al usuario sobre sus contenidos, datos o servicios, distinta de la que expresamente se detalle en los presentes Términos y Condiciones de Uso o en el Contrato de Licencia de Uso de Software.
      En caso de que se utilice cualquier información contenida en este sitio web para fines diferentes a los autorizados, o simplemente se utilice para fines distintos a los expresamente detallados en los presentes Términos y Condiciones de Uso se considerará esto como una vulneración a los Derechos de Autor y la Empresa ejercerá las acciones legales correspondientes a que haya lugar conforme a la Ley Federal de Derechos de Autor y Ley de Propiedad Industrial.
    </p>
     
    <h3>6.- Limitaciones de garantía y responsabilidad.</h3>
    <p>
      Este apartado establece los límites de responsabilidad de LEGAL TECHNOLOGIES, S. A. de C. V., y de sus sociedades, matriz, filiales, asociadas, sociedades vinculadas, directivos, consejeros, empleados, agentes, representantes, socios y licenciatarios (en adelante, colectivamente, las «Entidades de LEGAL TECHNOLOGIES, S. A. de C. V.,»). El usuario es responsable del uso que haga de los Servicios o del Contenido y del acceso a estos.  Usted entiende y acepta que los Servicios se le proporcionan COMO ESTÁN Y SEGÚN DISPONIBILIDAD.
    </p>
    <p>
      Intentamos mantener TODOLEGAL en funcionamiento, sin errores y seguro, pero usted lo utiliza bajo su propia responsabilidad. Proporcionamos TODOLEGAL tal cual, sin garantía alguna expresa o implícita, incluidas, entre otras, las garantías de comerciabilidad, adecuación a un fin particular y no incumplimiento. No garantizamos que TODOLEGAL sea siempre seguro o esté libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones.  LEGAL TECHNOLOGIES, S. A. de C. V.,no se responsabiliza de las acciones, el contenido, la información o los datos de terceros, y por la presente usted dispensa a la Empresa, nuestros directivos, empleados y agentes de cualquier demanda o daños, conocidos o desconocidos, derivados de cualquier demanda que tenga interpuesta contra tales, terceros o de algún modo relacionados con esta.
    </p>
    <p>
    Las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., no ofrecen ninguna garantía y excluyen toda responsabilidad con respecto a:
      <ul>
        <li>La integridad, exactitud, disponibilidad, puntualidad, seguridad o fiabilidad de los Servicios o el Contenido,</li>
        <li>Los daños ocasionados en su sistema informático, la pérdida de datos u otros daños que sean consecuencia del uso que usted haga de los Servicios o del Contenido o del acceso a estos, y</li>
        <li>La supresión del Contenido y de otras comunicaciones mantenidas a través de los Servicios o la omisión de guardarlos o transferirlos.</li>
      </ul>
    Los consejos o las informaciones, verbales o por escrito, proporcionados por las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., o a través de los Servicios prestados por esta, no crearán ninguna garantía que no se ofrezca de manera expresa en el presente.
    En la medida máxima permitida por la legislación aplicable, las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., no serán responsables por los daños indirectos, incidentales, cuantificables, emergentes o punitivos; pérdidas de beneficios o ingresos, directas o indirectas, o pérdidas de datos, uso, fondo de comercio u otras pérdidas intangibles, que sean consecuencia:
      <ul>
        <li>Del uso que usted haga de los Servicios o del acceso a estos por su parte, o de la imposibilidad de utilizar los servicios o acceder a estos,</li>
        <li>De la conducta o el Contenido de terceros en los servicios, incluido, a título enunciativo, toda conducta difamatoria, ofensiva o ilícita de otros usuarios o terceros,</li>
        <li>Del contenido obtenido a través de los Servicios, o</li>
        <li>Del acceso, el uso o la modificación no autorizados de su contenido o de las transferencias que usted efectúe.</li>
      </ul>
    </p>
    <p>
      Las limitaciones que se establecen en este subapartado se aplican a toda teoría de responsabilidad, sea por garantía, contrato, ley, agravio (incluida negligencia) o según sea el caso, e independientemente de que se haya informado a las Entidades de LEGAL TECHNOLOGIES, S. A. de C. V., de la posibilidad de que se produzcan tales daños, incluso en el caso de que un recurso establecido en virtud del presente haya fallado en su propósito esencial.
      En ningún caso la Empresa, LEGAL TECHNOLOGIES, S. A. de C. V., o sus proveedores pueden ser señalados responsables por cualquier daño especial, indirecto o cualquier otro tipo de daño que resulte de la pérdida de información por el uso o negligencia que surja por o en conexión con el uso o desempeño del Software, documentos o alguna falla al proveer los Servicios o información disponible en ellos.
    </p>
     
    <h3>7.- Legislación aplicable y jurisdicción competente.</h3>
    <p>
      En caso de controversia derivada de la interpretación o cumplimiento de los presentes Términos y Condiciones de Uso, de las Políticas de Privacidad o de cualquier otro documento relevante del software, el usuario está de acuerdo en que serán aplicables las Leyes de la Republica de Honduras, renunciando expresamente a cualquier otro fuero o jurisdicción que pudiera corresponderle en razón de su domicilio presente o futuro.
    </p>
  </div>
</div>