<section class="document-relationships-container">
  <h4>Relaciones del Documento</h4>
  
  <div class="row">
    <div class="col-md-12">
      <%= turbo_frame_tag "autosave_flash_relationships" %>
    </div>
  </div>
  <%= render partial: "documents/relationships/document_relationships_section", locals: { document: document } %>
</section>
