<div class="container">
  <h1>Editando Documento</h1>
    <%= render 'edit_form', document: @document %>
    <%= render partial: 'edit_tags', locals: { document: @document, doc_type: @document_type } %>
</div>