<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Documentos</h1>

  <%= link_to 'Subir documento', new_document_path %>
  <%= render partial:'edit_table', locals: {documents: @documents}%>
  <br>
</div>