<div class="container">
  <h2><strong>Nuevo documento</strong></h2>
  <% if @comes_from_gazettes %>
    <%= link_to 'Atrás', gazettes_path %>
  <% else %>
    <%= link_to 'Atrás', documents_path %>
  <% end %>
  <%= render 'new_form', document: @document %>
</div>
