<div class="jumbotron">
  <img src="img/logo_landing.png" height="300">
  <p class="lead">Lorem ipsum.</p>
</div>

<div class="container">

  <div class="input-group input-group-lg mb-3">
    <input type="text" class="form-control" placeholder="qqqqEj. Ad-litem, despido, prórroga" aria-label="Recipient's username" aria-describedby="button-addon2" autocomplete="off">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
    </div>
  </div>

  <div class="row">
    <% @tags.each do |tag| %>
      <div class="col-sm-6 col-md-4 py-2">
        <div class="card card-body h-100" style="padding:0px">
          <a href="/tags/<%= tag.id %>" style="padding:20px">
            <h5 class="card-title"><%= tag.name %></h5>
            <%= link_to 'Ver ' + tag.laws.count.to_s + ' documentos', tag, class: 'card-link' %>
          </a>
        </div>
      </div>
    <% end %>
  </div>

  <p><%= all_document_count %> documentos ingresadas y creciendo</p>

</div>
