<div class="container">
    <div class="card">
        <div class="card-body">
            
            <h1>Recibe notificaciones</h1>
            <div class="row">
                <div class="col">
                    <p> Elige los temas de tu interés y recibe notificaciones de acuerdo a tu preferencia. </p>
                </div>
                <div class="col">
                    <%= render 'form', users_preference: @users_preference %>
                </div>
            </div>
    </div>
</div>