<div class="col-12 col-sm-12 col-md-12">
<form class="margin-bottom-20" action="/subscribe" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="fields">
    <div class="four wide field">
    </div>
    <div class="eight wide field">
      <div class="ui right action input">
        <h4 class="margin-bottom-20">Prueba grátis válida hasta febrero 2020. Subscríbete para recibir un descuento especial!</h4>
        <input name="email" class="margin-bottom-10" placeholder="tucorreo@email.com" type="text">
        <button type="submit" class="button button-xl button-dark button-fullwidth">Recibir descuento</button>
      </div>
    </div>
  </div>
</form>
</div>