<div class="alert alert-primary" role="alert">
  <div class="form-row align-items-center">
    <form class="margin-bottom-20" action="/subscribe" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="fields">
        <div class="form-inline">
          Prueba grátis hasta febrero 2020. Subscríbete para recibir&nbsp;<b>50%</b>&nbsp;de descuento&nbsp;&nbsp;
          <input name="email" class="form-control-sm" style="border-color:#007bff; max_width:30px" placeholder="tucorreo@email.com" type="text">
          <button type="submit" class="btn-sm btn-primary">Enviar</button>
        </div>
      </div>
    </form>
  </div><!-- /input-group -->
  </div>
</div>