<div class="jumbotron">
  <h1 class=""></h1>
</div>
<div class="container">
  <!-- section -->
  <div class="section border-top">
    <div class="container">
      <!-- box 1 -->
      <div class="row align-items-center col-spacing-50">
        <div class="col-12 col-md-6">
          <img width="300" src="/images/subscription_mail.png" alt="">
        </div>
        <div class="col-12 col-md-6">
          <% if @error_message %>
            <h4>Ocurrió un error</h4>
            <p><%= @error_message %></p>
          <% else %>          
            <% if @email_confirmed %>
              <h6 class="heading-uppercase">Tu correo ya fué confirmado</h6>
              <h4></h4>
              <p>Ya tienes un cupón de descuento válido.</p>
            <% elsif @email_sent %>
              <h6 class="heading-uppercase">Te enviamos un correo anteriormente</h6>
              <h4></h4>
              <p>Ve a tu bandeja de entrada y confirma tu correo para validar tu cupón.</p>
            <% else %>
              <h6 class="heading-uppercase">Tu correo ha sido enviado</h6>
              <h4></h4>
              <p>Confirma tu correo desde tu bandeja de entrada para validar tu cupón.</p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>