<!-- 
<% if @law.law_modifications.size != 0 %>
<p>
  <p>
    <% @law.law_modifications.each do |law_modification| %>
      <%= law_modification.name %>
      <% if law_modification != @law.law_modifications.last %>
        ,
      <% end %>
    <% end %>
  </p>
</p>
<% end %>

<% if @law.modifications && @law.modifications != "" %>
<p>
  <p>Modificaciones: <%= @law.modifications %></p>
</p>
<% end %>
-->
<div class="container">
  <h3 class="text-center"> 
    <i class="fas fa-wrench"></i>
    En construcción 
  </h3>
</div>