<!-- 
<% if @law.law_modifications.size != 0 %>
<p>
  <p>
    <% @law.law_modifications.each do |law_modification| %>
      <%= law_modification.name %>
      <% if law_modification != @law.law_modifications.last %>
        ,
      <% end %>
    <% end %>
  </p>
</p>
<% end %>

<% if @law.modifications && @law.modifications != "" %>
<p>
  <p>Modificaciones: <%= @law.modifications %></p>
</p>
<% end %>
-->
<div class="container" style="margin-top: 15px;">
  <ul>
    <% @hyperlinks.each do |hyperlink| %>
      <li>
        <%= link_to hyperlink.hyperlink, hyperlink.hyperlink %>
      </li>
    <% end %>
  </ul>
</div>

<style>
  @media only screen and (max-width: 767.98px){
    .container {
      min-height: 800px;
    }
  }
</style>
