<!-- 
<% if @law.law_modifications.size != 0 %>
<p>
  <p>
    <% @law.law_modifications.each do |law_modification| %>
      <%= law_modification.name %>
      <% if law_modification != @law.law_modifications.last %>
        ,
      <% end %>
    <% end %>
  </p>
</p>
<% end %>

<% if @law.modifications && @law.modifications != "" %>
<p>
  <p>Modificaciones: <%= @law.modifications %></p>
</p>
<% end %>
-->
<div class="container" style="margin-top: 15px;">
  <h2 class="text-center"> <i class="fas fa-wrench"></i> </h2>
  <h3 class="text-center"> 
    En construcción 
  </h3>
</div>

<style>
  @media only screen and (max-width: 767.98px){
    .container {
      min-height: 800px;
    }
  }
</style>
