<div id="myScrollspy" class="sticky-top" style="padding: 0px;background-color: #fff;">
  <div class="row">
    <div class="col-sm-6 col-md-6 py-6">
      <ul class="nav nav-tabs" id="lawEditorTab" role="tablist">
        <li  class="nav-item">
          <a class="nav-link active" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#indice">Índice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="modifications-tab" data-toggle="tab" href="#modifications" role="tab" aria-controls="modifications" aria-selected="false">Modificaciones</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-4 py-2">
      <span id="sticky_nav_header"></span>
    </div>
  </div>
</div>
