<nav id="myScrollspy" style="padding: 0px;" class="sticky-top navbar-expand-xl navbar-light bg-light">
  <ul class="nav nav-tabs" id="lawEditorTab" role="tablist">
  <li  class="nav-item">
    <a class="nav-link active" id="articulos-tab" data-toggle="tab" href="#articulos" role="tab" aria-controls="articulos" aria-selected="true">Artículos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#indice">Índice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="articles-tab" data-toggle="tab" href="#articles" role="tab" aria-controls="articles" aria-selected="false">Modificaciones</a>
  </li>
  </ul>
  <br>
  <h4 id="sticky_nav_header"></h4>
</nav>
