<p>Hola <% if User.find_by_email(@email) %><%= User.find_by_email(@email).first_name %><% end %>.</p>

<p>Tu cuenta en grátis en TodoLegal ha sido creada. Con la cuenta básica puedes acceder a los documentos más importantes de la legislación hondureña (Constitución, Código Civil, Código Penal, Código del Trabajo, etc).</p>

<p>Si quieres acceder a toda la información disponible debes adquirir la suscripción Pro. Para eso debes ir a la sección de <a href="https://todolegal.app/users/edit">tu cuenta</a> y seguir los pasos.</p>

<p>Antes de todo tienes que confirmar tu correo para que podamos asegurar que te pertenece a tí</p>

<p>¡Gracias!</p>

<p><%= link_to 'Confirma tu correo', confirmation_url(@resource, confirmation_token: @token) %></p>