<p>Hola <% if @resource.email %><%= User.find_by_email(@resource.email).first_name %><% end %>!</p>

<p>Has solicitado un cambio de contraseña. Si no eres tu o fue un accidente, simplemente no hagas nada.</p>

<p>Si quieres cambiar tu contraseña, da click en el boton o enlace.</p>

<p>Gracias!</p>

<p><%= link_to 'Cambia mi password', edit_password_url(@resource, reset_password_token: @token) %></p>