<section class="banner-section" style="text-align: center; background-color: #171F2A; width: 80%; margin-left: 10%; height: 12em;">
    <a data-toggle="modal" data-target="#cancelModalTodolegal">
        <img class="header-img" alt="Logo TodoLegal" src="https://todolegal.app/img/top_navbar/valid.png"/>
    </a>
    <p class="header-title"> Alertas legales </p>
</section>

<style>
    .header-title{
        align-items: center;
        color: #FFFFFF;
        font-family: "Lato", Helvetica, Arial, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
    }

    .header-img{
        height: 8vh; 
        max-height: 110px; 
        margin: 2vh auto 0;
    }
</style>