<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Bienvenido(a) a TodoLegal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style="margin: 0; padding: 0; background-color: white;">
        <!-- Inicio del Header -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: 0px auto; border-spacing: 0px;">
            <tbody>
                <%= render 'header' %>
                <tr>
                    <td style="text-align: center;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="margin: auto;">
                            <tr>
                                <td></td>
                                <td width="580">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" >
                                        <tr>
                                            <td style="background-color: #FFFFFF; text-align: left; padding: 40px;">
                                                <p
                                                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px;"
                                                >
                                                    Hola <%= @user.first_name %>, 
                                                </p>
                                                <% if @user_type != "pro" %>
                                                    <p
                                                        style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px;"
                                                    >
                                                        Te quedan <%= @remaining_free_trial_time %> días restantes de tu prueba gratis. Para seguir recibiendo notificaciones indefinidamente, puedes <strong>suscribirte</strong> 
                                                        a uno de nuestros planes en este enlace: 
                                                        <a href="https://todolegal.app/pricing?return_to=https://valid.todolegal.app">https://todolegal.app/pricing</a>. 
                                                    </p>
                                                <% end %>
                                                <p
                                                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px;"
                                                >
                                                    Estas son las alertas legales en base a las preferencias que seleccionaste. Si quieres modificar tus preferencias 
                                                    lo puedes hacer dando <a href="https://valid.todolegal.app/users/preferences">click aquí</a>.
                                                </p>
                                                <p
                                                    style="font-family: 'Lato', Helvetica, Arial, sans-serif; font-style: normal; font-weight: 400; font-size: 16px; line-height: 19px;"
                                                >
                                                    Este correo contiene únicamente hasta 25 notificaciones. Si quieres encontrar todo lo relacionado al tema o institución de tu interés,
                                                    <a href="https://valid.todolegal.app"> ingresa a Valid</a> y realiza la búsqueda avanzada.
                                                </p>
                                                
                                                <%=render partial: 'document_card', locals:{grouped_documents: @documents_to_send} , formats: :html%>
                                            
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#171F2A; font-size: 18px; ">
                                                    <i>Equipo TodoLegal</i>
                                                </p>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td style="background-color: #171F2A; text-align: center; padding: 40px;">
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#FFFFFF; font-size: 14px; ">
                                                    Este es un correo autogenerado y lo estás recibiendo porque creaste una cuenta en TodoLegal y activaste las notificaciones. Si no hiciste esta solicitud, envíanos un correo a <a href="mailto:info@todolegal.app" target="_blank" style="color: #A6B9D3; text-decoration: underline;">info@todolegal.app</a> o escribenos en el chat de <a href="https://todolegal.app" target="_blank" style="color: #A6B9D3; text-decoration: underline;">todolegal.app</a>.
                                                </p>
                                                <p style="font-family: Helvetica, Arial, sans-serif; color:#FFFFFF; font-size: 14px;">
                                                    By TODOLEGAL LLC 2020-2023
                                                </p>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                    
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Fin del Header -->
    </body>

</html>
