<h1>Editing Users Preferences Tag</h1>

<%= render 'form', users_preferences_tag: @users_preferences_tag %>

<%= link_to 'Show', @users_preferences_tag %> |
<%= link_to 'Back', users_preferences_tags_path %>
