
<div class="footer-basic">
<footer>
<div class="container">
  <div class="copy">
  <% if user_browser_language_is_english %>
    <p class="terms-line"><a href="https://policies.todolegal.app/terms/en">Términos </a>y <a href="https://policies.todolegal.app/privacy/en">Privacidad</a></p>
    <p class="copyright">by TODOLEGAL LLC 2020</p>
  <% else %>
    <p class="terms-line"><a href="https://policies.todolegal.app/terms/">Términos </a>y <a href="https://policies.todolegal.app/privacy/">Privacidad</a></p>
    <p class="copyright">by TODOLEGAL LLC 2020</p>
  <% end %>
  </div>
  <div class="social">
    <a href="https://twitter.com/TodoLegal1">
    <i class="fab fa-twitter"></i>
    </a>
    <a href="https://www.facebook.com/todolegaltech/">
    <i class="fab fa-facebook-f"></i>
    </a>
    <a href="https://www.linkedin.com/company/todolegal">
    <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://instagram.com/todolegal.app?igshid=1ibunfzqohm2g">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://wa.me/50494714842">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
</div>
</footer>

</div>
