
<nav class="navbar navbar-expand-lg navbar-light justify-content-end sticky-top" style="margin-bottom: 0px; z-index: 3;">
    <ul class="navbar-nav">
        <div class="btn-group">
        <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">
                
                Cuenta
            </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" >
                
                Admin
            </button>
            <div class="dropdown-divider"></div>
           
            <%= link_to('Ver usuarios', admin_users_path, class:"dropdown-item") %>
            <div class="dropdown-divider"></div>
            
            <%= link_to('Ver suscritos', admin_subscriptions_path, class:"dropdown-item")%>
            <div class="dropdown-divider"></div>
            
            <%= link_to('Ver leyes', laws_path, class:"dropdown-item")%>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button">
                
                Modo edición
            </button>
            <div class="dropdown-divider"></div>
            
            <%= link_to('Cerrar sesión', destroy_user_session_path, method: :delete, class:"dropdown-item") %>
        </div>
        </div>
    </ul>
</nav>

