<nav class="navbar sticky-top" id="topNavbar">
  <a href="/" class="navbar-brand text-primary" >
      <img src="/img/top_navbar/top_navbar.svg" alt="Card image cap" class="img-fluid" id="logo">
      &nbsp;&nbsp;
      <img src="/img/top_navbar/vector_t.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_o.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_d.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_o.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_l.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_e.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_g.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_a.svg" alt="Card image cap" class="todolegal img-fluid">
      <img src="/img/top_navbar/vector_l.svg" alt="Card image cap" class="todolegal img-fluid">
  </a>
  <form class="form-inline">
    <a class="nav-link" href="/users/sign_in" role="button">
        Inicia Sesión
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="/users/sign_up" role="button">
        Regístrate
      </a>
    </div>
  </form>
</nav>

<style>
  #topNavbar{
      margin-bottom: 0px; 
      z-index: 1000; 
      background: #171F2A;
      padding: 5px;
  }

  #logo{
      background-color: #171F2A;
      padding-left: 20%;
    }

  @media only screen and (max-width: 767.98px){
    .todolegal{
      margin:0px;
      display: none;
    }

    #logo{
      padding-left: 20px;
    }
  }
</style>