<nav class="navbar sticky-top" id="topNavbar">
  <a href="/" class="navbar-brand text-primary" >
      <img  src="/img/favicon-48x48.png" alt="Card image cap" class="img-fluid" id="logo">
  </a>
  <form class="form-inline">
    <a class="nav-link" href="/users/sign_in" role="button">
        Iniciar Sesión
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-primary" href="/users/sign_up" role="button">
        Registrarse
      </a>
    </div>
  </form>
</nav>

<style>
  #topNavbar{
      margin-bottom: 0px; 
      z-index: 1000; 
      background: #171F2A;
      padding: 5px;
  }

  #logo{
      background-color: #171F2A;
    }
</style>