<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= yield(:subject) if content_for?(:subject) %></title>
  </head>
  <body style="margin:0;padding:0;width:100%">
    <div style="font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Helvetica,Arial,sans-serif;max-width:520px;margin:0 auto;padding:32px 24px;color:#1e293b;line-height:1.5">
      <%= yield %>
    </div>
  </body>
</html>
